@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes hide-show {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes hide-show {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
}

@-webkit-keyframes phoneCarousel {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-180px * 3));
            transform: translateX(calc(-180px * 3));
  }
}

@keyframes phoneCarousel {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-180px * 3));
            transform: translateX(calc(-180px * 3));
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: "Montserrat";
  font-size: 1rem;
  line-height: 1.54;
  letter-spacing: -0.3px;
  background-color: #eaeaea;
}

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}

button:focus {
  outline: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: -ms-grid;
  display: grid;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (max-width: 47.9375em) {
  .hide-for-phone {
    display: none;
  }
}

@media (min-width: 48em) {
  .show-above-phone {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

main {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.no_scroll {
  overflow: hidden;
  height: 100vh;
}

.menu-open {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(26, 26, 26, 0.25);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1a1a1a;
}

.header {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 2;
  padding: 1rem 1.25rem;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.header.remove {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

@media (min-width: 48em) {
  .header {
    padding: 1.25rem 2rem;
  }
}

@media (min-width: 75em) {
  .header {
    padding: 8vh 5.5vw;
  }
}

.header__logo {
  font-family: "Cormorant Garamond";
  font-size: 1.25rem;
  color: #1a1a1a;
  font-weight: 600;
  letter-spacing: normal;
}

@media (min-width: 48em) {
  .header__logo {
    font-size: 1.625rem;
  }
}

.header__hamburger {
  position: relative;
  width: 2.25rem;
  height: 0.625rem;
}

.header__hamburger::before, .header__hamburger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 1.625rem;
  background-color: #1a1a1a;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.header__hamburger::before {
  top: 0%;
  left: -9px;
  -webkit-transform-origin: -12px 0;
          transform-origin: -12px 0;
}

.header__hamburger::after {
  bottom: 1%;
  -webkit-transform-origin: -14px 0;
          transform-origin: -14px 0;
}

.header__desktop_menu a {
  color: #1a1a1a;
  font-size: 1.375rem;
  font-family: "Cormorant Garamond";
}

.header__desktop_menu a:first-child {
  margin-right: 2rem;
}

.header__desktop_menu a:hover {
  color: #dd4d42;
}

.header_open {
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 1;
  padding: 1rem 1.25rem;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.header_open.open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.header_open__logo {
  font-family: "Cormorant Garamond";
  font-size: 1.25rem;
  color: #1a1a1a;
  font-weight: 600;
  letter-spacing: normal;
  color: #1a1a1a;
}

@media (min-width: 48em) {
  .header_open__logo {
    font-size: 1.625rem;
  }
}

.header_open__cross {
  position: relative;
  width: 2.25rem;
  height: 1.875rem;
}

.header_open__cross__lines {
  content: "";
  position: absolute;
  left: 50%;
  height: 2px;
  width: 1.4rem;
  background-color: #1a1a1a;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.header_open__cross__lines:nth-child(1) {
  top: 0%;
  -webkit-transform: rotate(45deg) translateX(-25%);
          transform: rotate(45deg) translateX(-25%);
  -webkit-transform-origin: -1rem 2px;
          transform-origin: -1rem 2px;
}

.header_open__cross__lines:nth-child(2) {
  bottom: 1%;
  -webkit-transform: rotate(-45deg) translateX(-25%);
          transform: rotate(-45deg) translateX(-25%);
  -webkit-transform-origin: -0.8rem 1.5px;
          transform-origin: -0.8rem 1.5px;
}

.mobile_menu {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  padding: 2rem 2rem 6rem;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.mobile_menu__bg {
  background-color: #dd4d42;
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.mobile_menu__bg.open {
  width: 100%;
}

.mobile_menu.open {
  visibility: visible;
  pointer-events: auto;
}

.mobile_menu__content {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.mobile_menu__content__pos {
  position: absolute;
  width: 100%;
  top: auto;
  -webkit-transform: none;
          transform: none;
  height: 100%;
  padding: 2rem 2rem 16vh;
}

@media (max-width: 23.375em) {
  .mobile_menu__content__pos {
    padding: 2rem 2rem 4vh;
  }
}

@media (min-width: 64em) {
  .mobile_menu__content__pos {
    padding: 2rem 10vw 16vh;
  }
}

.mobile_menu__content__pos ul {
  padding: 0;
  margin: 1.6rem 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.mobile_menu__content__pos ul:first-child {
  margin-top: 0;
}

.mobile_menu__content__pos ul.open {
  visibility: visible;
  opacity: 1;
}

.mobile_menu__content__pos ul li {
  list-style-type: none;
}

.mobile_menu__content__pos ul li a {
  color: #1a1a1a;
}

.mobile_menu__content__pos ul.mobile_menu__links li {
  line-height: 1.1;
}

@media (min-width: 48em) {
  .mobile_menu__content__pos ul.mobile_menu__links li {
    line-height: 1.5;
  }
}

.mobile_menu__content__pos ul.mobile_menu__links li a {
  font-family: "Cormorant Garamond";
  font-size: 2.875rem;
  font-weight: 600;
}

@media (min-width: 48em) {
  .mobile_menu__content__pos ul.mobile_menu__links li a {
    font-size: 3.75rem;
  }
}

@media (min-width: 48em) {
  .mobile_menu__content__pos ul.mobile_menu__services li {
    line-height: 1.7;
  }
}

.mobile_menu__content__pos ul.mobile_menu__services a {
  font-size: 1.125rem;
}

@media (min-width: 48em) {
  .mobile_menu__content__pos ul.mobile_menu__services a {
    font-size: 1.75rem;
  }
}

.mobile_menu__content__pos ul.mobile_menu__socials li {
  line-height: 2;
}

.mobile_menu__content__pos ul.mobile_menu__socials li a {
  font-size: 0.9375rem;
}

@media (min-width: 48em) {
  .mobile_menu__content__pos ul.mobile_menu__socials li a {
    font-size: 1.375rem;
  }
}

.mobile_menu__content__pos ul.mobile_menu__socials li a#email {
  text-decoration: underline;
}

.noise::before {
  background-image: url("../assets/noise.gif");
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: 0.03;
  z-index: 1000;
  pointer-events: none;
}

.sub_header {
  font-family: "Cormorant Garamond";
  font-size: 2.5rem;
  letter-spacing: normal;
  margin-top: 0;
  margin-bottom: 3.125rem;
}

.sub_header sup {
  font-size: 1.25rem;
}

@media (min-width: 48em) {
  .sub_header sup {
    font-size: 1.5rem;
  }
}

@media (min-width: 64em) {
  .sub_header sup {
    font-size: 2.5rem;
  }
}

.sub_header.dark_circle {
  color: #eaeaea;
  padding-top: calc(3.125rem + 10.6325rem);
}

@media (min-width: 48em) {
  .sub_header {
    font-size: 3.125rem;
  }
}

@media (min-width: 64em) {
  .sub_header {
    font-size: 4.375rem;
  }
}

@media (min-width: 75em) {
  .sub_header {
    margin-bottom: 4.125rem;
  }
}

.presentation {
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center;
  font-family: "Cormorant Garamond";
  color: #1a1a1a;
  letter-spacing: normal;
}

.presentation h1 {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 6.25rem;
}

@media (min-width: 48em) {
  .presentation h1 {
    margin-bottom: 8.25rem;
    font-size: 3.75rem;
  }
}

@media (min-width: 75em) {
  .presentation h1 {
    margin-bottom: 0;
    font-size: 6.875rem;
    line-height: 1.1;
  }
}

.presentation h3 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
}

@media (min-width: 48em) {
  .presentation h3 {
    font-size: 2.375rem;
  }
}

@media (min-width: 75em) {
  .presentation h3 {
    position: absolute;
    left: 5.5vw;
    bottom: 10%;
    font-size: 1.25rem;
  }
}

.presentation a {
  margin-top: 2rem;
  text-decoration: underline;
  color: #1a1a1a;
}

@media (min-width: 48em) {
  .presentation a {
    margin-top: 4rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 75em) {
  .presentation a {
    position: absolute;
    right: 5.5vw;
    bottom: 10%;
    font-size: 1.25rem;
  }
}

.about,
.services,
.showcase,
.contacts {
  padding: 0 1.125rem 16vh;
}

@media (min-width: 48em) {
  .about,
  .services,
  .showcase,
  .contacts {
    padding: 0 2rem 16vh;
  }
}

@media (min-width: 75em) {
  .about,
  .services,
  .showcase,
  .contacts {
    padding: 24vh 5.5vw 4vh;
  }
}

.about {
  width: 100%;
}

.about h4 {
  font-weight: 400;
  font-size: 0.9375rem;
  margin-top: 0;
  margin-bottom: 2.875rem;
}

.about h4:nth-child(3) {
  text-align: right;
}

.about h4:last-child {
  margin-bottom: 0;
}

@media (min-width: 48em) {
  .about h4 {
    font-size: 1.125rem;
  }
}

@media (min-width: 64em) {
  .about h4 {
    font-size: 1.5rem;
  }
}

@media (min-width: 75em) {
  .about h4 {
    font-size: 1.25rem;
  }
}

@media (min-width: 75em) {
  .services__grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.showcase {
  padding-bottom: calc(16vh + (10.625rem / 2));
}

@media (min-width: 75em) {
  .showcase {
    padding-bottom: calc(28vh + (10.625rem / 2));
  }
}

.showcase__grid {
  row-gap: 2.875rem;
}

@media (min-width: 64em) {
  .showcase__grid {
    row-gap: 3.875rem;
  }
}

.contacts {
  position: relative;
  background-color: #1a1a1a;
  padding-bottom: 6vh;
}

@media (min-width: 75em) {
  .contacts {
    padding-top: 6vh;
  }
}

.contacts svg {
  position: absolute;
  top: calc(-10.625rem / 2);
  height: 10.625rem;
  width: 10.625rem;
  -webkit-animation: spin 30s linear infinite;
          animation: spin 30s linear infinite;
}

@media (min-width: 64em) {
  .contacts svg {
    top: calc(-14.625rem / 2);
    height: 14.625rem;
    width: 14.625rem;
  }
}

@media (min-width: 75em) {
  .contacts svg {
    top: calc(-10.625rem / 2);
    height: 10.625rem;
    width: 10.625rem;
  }
}

.contacts__carousel {
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #eaeaea;
}

.contacts__carousel .slide-track {
  -webkit-animation: phoneCarousel 4s linear infinite;
          animation: phoneCarousel 4s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(180px * 6);
}

.contacts__carousel .slide-track .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 180px;
}

.contacts__carousel .slide-track .slide h2 {
  color: rgba(234, 234, 234, 0.4);
  font-size: 1.875rem;
  font-weight: 500;
  margin: 0;
}

.contacts__location h3 {
  font-weight: 400;
  color: #eaeaea;
  font-size: 1rem;
  margin: 0;
}

@media (min-width: 64em) {
  .contacts__location h3 {
    font-size: 1.5rem;
  }
}

.contacts__socials {
  margin-top: 3rem;
}

@media (min-width: 64em) {
  .contacts__socials {
    margin-top: 6rem;
  }
}

.contacts__socials a {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 2rem;
  font-weight: 400;
  color: #eaeaea;
}

@media (min-width: 64em) {
  .contacts__socials a {
    font-size: 1.5rem;
  }
}

.contacts__socials a:last-child {
  margin-right: 0;
  margin-top: 1.125rem;
  color: rgba(221, 77, 66, 0.9);
  text-decoration: underline;
}

@media (min-width: 48em) {
  .contacts__socials a:last-child {
    margin-top: 0;
    margin-left: auto;
  }
}

.services__grid__article {
  position: relative;
  padding: 3.125rem 1.25rem;
  border-bottom: 1px solid rgba(26, 26, 26, 0.23);
  border-left: 1px solid rgba(26, 26, 26, 0.23);
  border-right: 1px solid rgba(26, 26, 26, 0.23);
}

.services__grid__article:first-child {
  border-top: 1px solid rgba(26, 26, 26, 0.23);
}

@media (min-width: 75em) {
  .services__grid__article:nth-child(even) {
    border-left: none;
  }
}

@media (min-width: 75em) {
  .services__grid__article:nth-child(2) {
    border-top: 1px solid rgba(26, 26, 26, 0.23);
  }
}

@media (min-width: 75em) {
  .services__grid__article:last-child {
    background-color: rgba(26, 26, 26, 0.25);
  }
}

@media (min-width: 48em) {
  .services__grid__article {
    padding: 3.125rem 1.875rem;
  }
}

@media (min-width: 75em) {
  .services__grid__article {
    padding: 4.375rem 3.125rem 6.25rem;
  }
}

.services__grid__article h3 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1.0625rem;
  font-weight: 500;
}

@media (min-width: 48em) {
  .services__grid__article h3 {
    font-size: 1.375rem;
  }
}

@media (min-width: 64em) {
  .services__grid__article h3 {
    font-size: 1.625rem;
  }
}

@media (min-width: 75em) {
  .services__grid__article h3 {
    font-size: 1.5rem;
    margin-bottom: 1.875rem;
  }
}

.services__grid__article h5 {
  margin: 0;
  font-weight: 400;
  font-size: 0.9375rem;
}

@media (min-width: 48em) {
  .services__grid__article h5 {
    font-size: 1.125rem;
  }
}

@media (min-width: 64em) {
  .services__grid__article h5 {
    font-size: 1.375rem;
  }
}

@media (min-width: 75em) {
  .services__grid__article h5 {
    font-size: 1.25rem;
  }
}

.services__grid__article p {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 0;
}

@media (min-width: 75em) {
  .services__grid__article p {
    -webkit-transform: translate(-20px, 40px);
            transform: translate(-20px, 40px);
  }
}

.services__grid__article p svg:nth-child(1) {
  width: 20px;
  margin-right: 1rem;
  -webkit-animation: hide-show 3s linear 0.2s infinite;
          animation: hide-show 3s linear 0.2s infinite;
}

@media (min-width: 64em) {
  .services__grid__article p svg:nth-child(1) {
    width: 40px;
  }
}

.services__grid__article p svg:nth-child(2) {
  width: 20px;
  margin-right: 1rem;
  -webkit-animation: hide-show 3s linear 0.4s infinite;
          animation: hide-show 3s linear 0.4s infinite;
}

@media (min-width: 64em) {
  .services__grid__article p svg:nth-child(2) {
    width: 40px;
  }
}

.services__grid__article p svg:nth-child(3) {
  width: 20px;
  margin-right: 1rem;
  -webkit-animation: hide-show 3s linear 0.6s infinite;
          animation: hide-show 3s linear 0.6s infinite;
}

@media (min-width: 64em) {
  .services__grid__article p svg:nth-child(3) {
    width: 40px;
  }
}

.services__grid__article p svg:nth-child(4) {
  width: 20px;
  margin-right: 1rem;
  -webkit-animation: hide-show 3s linear 0.8s infinite;
          animation: hide-show 3s linear 0.8s infinite;
}

@media (min-width: 64em) {
  .services__grid__article p svg:nth-child(4) {
    width: 40px;
  }
}

.services__grid__article p svg:nth-child(5) {
  width: 20px;
  margin-right: 1rem;
  -webkit-animation: hide-show 3s linear 1s infinite;
          animation: hide-show 3s linear 1s infinite;
}

@media (min-width: 64em) {
  .services__grid__article p svg:nth-child(5) {
    width: 40px;
  }
}

.showcase__grid__article {
  border-bottom: 1px solid rgba(26, 26, 26, 0.4);
}

.showcase__grid__article__categories h4 {
  font-weight: 400;
  font-size: 0.875rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

@media (min-width: 48em) {
  .showcase__grid__article__categories h4 {
    font-size: 1.0625rem;
  }
}

@media (min-width: 64em) {
  .showcase__grid__article__categories h4 {
    font-size: 1.25rem;
  }
}

@media (min-width: 75em) {
  .showcase__grid__article__categories h4 {
    font-size: 1rem;
  }
}

.showcase__grid__article h5 {
  margin-top: 0;
  margin-bottom: 2.875rem;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.6;
}

@media (min-width: 48em) {
  .showcase__grid__article h5 {
    font-size: 1.25rem;
  }
}

@media (min-width: 64em) {
  .showcase__grid__article h5 {
    font-size: 1.375rem;
  }
}

@media (min-width: 75em) {
  .showcase__grid__article h5 {
    font-size: 1.125rem;
  }
}
/*# sourceMappingURL=style.css.map */