@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes hide-show {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
}

@keyframes hide-show {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
}

@-webkit-keyframes phoneCarousel {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-300px * 3.5));
            transform: translateX(calc(-300px * 3.5));
  }
}

@keyframes phoneCarousel {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-300px * 3.5));
            transform: translateX(calc(-300px * 3.5));
  }
}

@-webkit-keyframes phoneCarouselReverse {
  0% {
    -webkit-transform: translateX(calc(-300px * 3.5));
            transform: translateX(calc(-300px * 3.5));
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes phoneCarouselReverse {
  0% {
    -webkit-transform: translateX(calc(-300px * 3.5));
            transform: translateX(calc(-300px * 3.5));
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes desktopCarousel {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-500px * 3.5));
            transform: translateX(calc(-500px * 3.5));
  }
}

@keyframes desktopCarousel {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-500px * 3.5));
            transform: translateX(calc(-500px * 3.5));
  }
}

@-webkit-keyframes desktopCarouselReverse {
  0% {
    -webkit-transform: translateX(calc(-500px * 3.5));
            transform: translateX(calc(-500px * 3.5));
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes desktopCarouselReverse {
  0% {
    -webkit-transform: translateX(calc(-500px * 3.5));
            transform: translateX(calc(-500px * 3.5));
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: "Montserrat";
  font-size: 1rem;
  line-height: 1.54;
  letter-spacing: -0.3px;
  background-color: #eaeaea;
  cursor: none;
}

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
  cursor: none;
}

button:focus {
  outline: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-ai-fe {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.grid {
  display: -ms-grid;
  display: grid;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (max-width: 47.9375em) {
  .hide-for-phone {
    display: none;
  }
}

@media (min-width: 48em) {
  .show-above-phone {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

main {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.no_scroll {
  overflow: hidden;
  height: 100vh;
}

.menu-open {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  background: #eaeaea !important;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(26, 26, 26, 0.25);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.cursor {
  position: fixed;
  background-color: #1a1a1a;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  z-index: 1;
  -webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  z-index: 10000;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.cursor.active {
  opacity: 1;
  background-color: #eaeaea;
}

.cursor.open_work_cursor {
  background-color: #eaeaea;
}

.cursor.navbar_hover {
  background-color: transparent;
}

.cursor.article1_cursor, .cursor.article2_cursor, .cursor.article3_cursor, .cursor.article4_cursor, .cursor.article5_cursor {
  background-color: transparent;
}

.cursor-follower {
  position: fixed;
  border: 1px solid #1a1a1a;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  z-index: 1;
  -webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.6s cubic-bezier(0.75, -0.27, 0.3, 1.33) width, 0.6s cubic-bezier(0.75, -0.27, 0.3, 1.33) height, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.6s cubic-bezier(0.75, -0.27, 0.3, 1.33) width, 0.6s cubic-bezier(0.75, -0.27, 0.3, 1.33) height, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.6s cubic-bezier(0.75, -0.27, 0.3, 1.33) width, 0.6s cubic-bezier(0.75, -0.27, 0.3, 1.33) height;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.6s cubic-bezier(0.75, -0.27, 0.3, 1.33) width, 0.6s cubic-bezier(0.75, -0.27, 0.3, 1.33) height, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  z-index: 10000;
  overflow: hidden;
}

.cursor-follower.active {
  opacity: 1;
  border: 1px solid #eaeaea;
}

.cursor-follower.open_work_cursor {
  border: 1px solid rgba(221, 77, 66, 0.85);
  background-color: rgba(221, 77, 66, 0.85);
  width: 5rem;
  height: 5rem;
}

.cursor-follower.open_work_cursor::after {
  content: "EMAIL";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Cormorant Garamond";
  color: #eaeaea;
  font-weight: 800;
}

.cursor-follower.navbar_hover {
  border: 1px solid rgba(26, 26, 26, 0.05);
  background-color: rgba(26, 26, 26, 0.05);
  width: 5rem;
  height: 5rem;
}

.cursor-follower.article1_cursor, .cursor-follower.article2_cursor, .cursor-follower.article3_cursor, .cursor-follower.article4_cursor, .cursor-follower.article5_cursor {
  width: 5rem;
  height: 5rem;
}

.cursor-follower.article1_cursor::after, .cursor-follower.article2_cursor::after, .cursor-follower.article3_cursor::after, .cursor-follower.article4_cursor::after, .cursor-follower.article5_cursor::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Cormorant Garamond";
  text-transform: uppercase;
  font-weight: 800;
}

.cursor-follower.article1_cursor {
  border: 1px solid rgba(201, 77, 36, 0.8);
  background-color: rgba(201, 77, 36, 0.8);
}

.cursor-follower.article1_cursor::after {
  content: "PORTIC";
}

.cursor-follower.article2_cursor {
  border: 1px solid rgba(67, 44, 178, 0.8);
  background-color: rgba(67, 44, 178, 0.8);
  width: 5rem;
  height: 5rem;
}

.cursor-follower.article2_cursor::after {
  content: "Moitas";
  color: #eaeaea;
}

.cursor-follower.article3_cursor {
  border: 1px solid rgba(219, 175, 3, 0.8);
  background-color: rgba(219, 175, 3, 0.8);
}

.cursor-follower.article3_cursor::after {
  content: "Travel";
}

.cursor-follower.article4_cursor {
  border: 1px solid rgba(34, 36, 49, 0.8);
  background-color: rgba(34, 36, 49, 0.8);
}

.cursor-follower.article4_cursor::after {
  content: "dutify";
  color: #eaeaea;
}

.cursor-follower.article5_cursor {
  border: 1px solid rgba(37, 158, 84, 0.8);
  background-color: rgba(37, 158, 84, 0.8);
}

.cursor-follower.article5_cursor::after {
  content: "improve";
}

.header {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 2;
  padding: 1rem 1.25rem;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.header.remove {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

@media (min-width: 48em) {
  .header {
    padding: 1.25rem 2rem;
  }
}

@media (min-width: 64em) {
  .header {
    padding: 4vh 5.5vw;
  }
}

@media (min-width: 75em) {
  .header {
    padding: 8vh 5.5vw;
  }
}

.header__logo {
  font-family: "Cormorant Garamond";
  font-size: 1.25rem;
  color: #1a1a1a;
  font-weight: 600;
  letter-spacing: normal;
}

@media (min-width: 48em) {
  .header__logo {
    font-size: 1.625rem;
  }
}

.header__hamburger {
  position: relative;
  width: 2.25rem;
  height: 0.625rem;
}

.header__hamburger::before, .header__hamburger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 1.625rem;
  background-color: #1a1a1a;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.header__hamburger::before {
  top: 0%;
  -webkit-transform-origin: -12px 0;
          transform-origin: -12px 0;
}

.header__hamburger::after {
  bottom: 1%;
  right: 0%;
  -webkit-transform-origin: -14px 0;
          transform-origin: -14px 0;
}

.header__desktop_menu a {
  color: #1a1a1a;
  font-size: 1.375rem;
  font-family: "Cormorant Garamond";
}

.header__desktop_menu a:first-child {
  margin-right: 2rem;
}

.header__desktop_menu a:hover {
  color: #dd4d42;
}

.header_open {
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 1;
  padding: 1rem 1.25rem;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.header_open.open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.header_open__logo {
  font-family: "Cormorant Garamond";
  font-size: 1.25rem;
  color: #1a1a1a;
  font-weight: 600;
  letter-spacing: normal;
  color: #1a1a1a;
}

@media (min-width: 48em) {
  .header_open__logo {
    font-size: 1.625rem;
  }
}

.header_open__cross {
  position: relative;
  width: 2.25rem;
  height: 1.875rem;
}

.header_open__cross__lines {
  content: "";
  position: absolute;
  left: 75%;
  height: 2px;
  width: 1.4rem;
  background-color: #1a1a1a;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.header_open__cross__lines:nth-child(1) {
  top: 0%;
  -webkit-transform: rotate(45deg) translateX(-25%);
          transform: rotate(45deg) translateX(-25%);
  -webkit-transform-origin: -1rem 2px;
          transform-origin: -1rem 2px;
}

.header_open__cross__lines:nth-child(2) {
  bottom: 1%;
  -webkit-transform: rotate(-45deg) translateX(-25%);
          transform: rotate(-45deg) translateX(-25%);
  -webkit-transform-origin: -0.8rem 1.5px;
          transform-origin: -0.8rem 1.5px;
}

.mobile_menu {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  padding: 2rem 2rem 6rem;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.mobile_menu__bg {
  background-color: #dd4d42;
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.mobile_menu__bg.open {
  width: 100%;
}

.mobile_menu.open {
  visibility: visible;
  pointer-events: auto;
}

.mobile_menu__content {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.mobile_menu__content__pos {
  position: absolute;
  width: 100%;
  top: auto;
  -webkit-transform: none;
          transform: none;
  height: 100%;
  padding: 2rem 2rem 16vh;
}

@media (max-width: 23.375em) {
  .mobile_menu__content__pos {
    padding: 2rem 2rem 4vh;
  }
}

@media (min-width: 64em) {
  .mobile_menu__content__pos {
    padding: 2rem 10vw 16vh;
  }
}

.mobile_menu__content__pos ul {
  padding: 0;
  margin: 1.6rem 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.mobile_menu__content__pos ul:first-child {
  margin-top: 0;
}

.mobile_menu__content__pos ul.open {
  visibility: visible;
  opacity: 1;
}

.mobile_menu__content__pos ul li {
  list-style-type: none;
}

.mobile_menu__content__pos ul li a {
  color: #1a1a1a;
}

.mobile_menu__content__pos ul.mobile_menu__links li {
  line-height: 1.1;
}

@media (min-width: 48em) {
  .mobile_menu__content__pos ul.mobile_menu__links li {
    line-height: 1.5;
  }
}

.mobile_menu__content__pos ul.mobile_menu__links li a {
  font-family: "Cormorant Garamond";
  font-size: 2.875rem;
  font-weight: 600;
}

@media (min-width: 48em) {
  .mobile_menu__content__pos ul.mobile_menu__links li a {
    font-size: 3.75rem;
  }
}

@media (min-width: 48em) {
  .mobile_menu__content__pos ul.mobile_menu__services li {
    line-height: 1.7;
  }
}

.mobile_menu__content__pos ul.mobile_menu__services a {
  font-size: 1.125rem;
}

@media (min-width: 48em) {
  .mobile_menu__content__pos ul.mobile_menu__services a {
    font-size: 1.75rem;
  }
}

.mobile_menu__content__pos ul.mobile_menu__socials li {
  line-height: 2;
}

.mobile_menu__content__pos ul.mobile_menu__socials li a {
  font-size: 0.9375rem;
}

@media (min-width: 48em) {
  .mobile_menu__content__pos ul.mobile_menu__socials li a {
    font-size: 1.375rem;
  }
}

.mobile_menu__content__pos ul.mobile_menu__socials li a#email {
  text-decoration: underline;
}

.noise::before {
  background-image: url("../assets/noise.gif");
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: 0.03;
  z-index: 1000;
  pointer-events: none;
}

.sub_header {
  font-family: "Cormorant Upright", serif;
  font-size: 2.5rem;
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 5.625rem;
}

@media (max-width: 667px) and (min-width: 375px) and (max-height: 667px) {
  .sub_header {
    font-size: 2rem;
  }
}

.sub_header sup {
  font-size: 1.25rem;
}

@media (min-width: 48em) {
  .sub_header sup {
    font-size: 1.5rem;
  }
}

@media (min-width: 64em) {
  .sub_header sup {
    font-size: 2.5rem;
  }
}

.sub_header.dark_circle {
  color: #eaeaea;
  padding-top: calc(5.625rem + 10.6325rem);
}

@media (min-width: 75em) {
  .sub_header.dark_circle {
    padding-top: calc(6.625rem + 10.6325rem);
  }
}

@media (min-width: 48em) {
  .sub_header {
    font-size: 3.125rem;
  }
}

@media (min-width: 64em) {
  .sub_header {
    font-size: 4.375rem;
  }
}

@media (min-width: 75em) {
  .sub_header {
    margin-bottom: 6.625rem;
  }
}

@media (min-width: 120em) {
  .sub_header {
    font-size: 5rem;
  }
}

.presentation {
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center;
  font-family: "Cormorant Garamond";
  color: #1a1a1a;
  letter-spacing: normal;
}

.presentation h1 {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 6.25rem;
}

@media (min-width: 48em) {
  .presentation h1 {
    margin-bottom: 8.25rem;
    font-size: 3.75rem;
  }
}

@media (min-width: 75em) {
  .presentation h1 {
    margin-bottom: 0;
    font-size: 6.875rem;
    line-height: 1.1;
  }
}

.presentation h3 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
}

@media (min-width: 48em) {
  .presentation h3 {
    font-size: 2.375rem;
  }
}

@media (min-width: 75em) {
  .presentation h3 {
    position: absolute;
    left: 5.5vw;
    bottom: 10%;
    font-size: 1.25rem;
  }
}

.presentation a {
  margin-top: 2rem;
  text-decoration: underline;
  color: #1a1a1a;
}

@media (min-width: 48em) {
  .presentation a {
    margin-top: 4rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 75em) {
  .presentation a {
    padding: 2rem;
    position: absolute;
    right: calc(5.5vw - 2rem);
    bottom: calc(10% - 2rem);
    font-size: 1.25rem;
  }
}

.about,
.services,
.showcase,
.contacts {
  padding: 0 1.125rem 16vh;
}

@media (min-width: 48em) {
  .about,
  .services,
  .showcase,
  .contacts {
    padding: 0 2rem 16vh;
  }
}

@media (min-width: 75em) {
  .about,
  .services,
  .showcase,
  .contacts {
    padding: 24vh 5.5vw 4vh;
  }
}

.about {
  width: 100%;
}

.about h4 {
  font-weight: 400;
  font-family: "Cormorant Garamond";
  line-height: 1.2;
  margin-top: 0;
}

.about h4:nth-child(1) {
  font-size: 1.875rem;
}

@media (min-width: 48em) {
  .about h4:nth-child(1) {
    font-size: 2.5rem;
  }
}

@media (min-width: 64em) {
  .about h4:nth-child(1) {
    font-size: 3.75rem;
    line-height: 1.3;
  }
}

@media (min-width: 75em) {
  .about h4:nth-child(1) {
    font-size: 5.625rem;
    line-height: 1.1;
  }
}

.about h4:nth-child(2) {
  font-size: 1.5rem;
  margin: 10vh 0 10vh 10vw;
  line-height: 1.3;
}

@media (min-width: 48em) {
  .about h4:nth-child(2) {
    margin: 10vh 0 10vh 20vw;
    font-size: 1.875rem;
  }
}

@media (min-width: 64em) {
  .about h4:nth-child(2) {
    margin: 10vh 0 10vh 20vw;
    font-size: 2.5rem;
    line-height: 1.3;
  }
}

@media (min-width: 75em) {
  .about h4:nth-child(2) {
    margin: 20vh 0 20vh 20vw;
    font-size: 3.75rem;
  }
}

.about h4:nth-child(3) {
  font-size: 1.25rem;
  margin: 10vh 0 10vh 4vw;
  line-height: 1.4;
}

@media (min-width: 48em) {
  .about h4:nth-child(3) {
    margin: 10vh 0 10vh 4vw;
    font-size: 1.625rem;
    line-height: 1.5;
  }
}

@media (min-width: 64em) {
  .about h4:nth-child(3) {
    margin: 10vh 0 10vh 4vw;
    font-size: 2rem;
    line-height: 1.4;
  }
}

@media (min-width: 75em) {
  .about h4:nth-child(3) {
    margin: 20vh 10vw 20vh 10vw;
    font-size: 2.5rem;
    line-height: 1.4;
  }
}

.about h4:last-child {
  margin-bottom: 0;
}

@media (min-width: 75em) {
  .services__grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.showcase {
  padding-bottom: 16vh;
}

.contacts {
  position: relative;
  background-color: #1a1a1a;
  padding-top: 16vh;
  padding-bottom: 6vh;
}

.contacts svg {
  position: absolute;
  top: calc(-10.625rem / 2);
  height: 10.625rem;
  width: 10.625rem;
  -webkit-animation: spin 30s linear infinite;
          animation: spin 30s linear infinite;
}

@media (min-width: 64em) {
  .contacts svg {
    top: calc(-14.625rem / 2);
    height: 14.625rem;
    width: 14.625rem;
  }
}

@media (min-width: 75em) {
  .contacts svg {
    top: calc(-10.625rem / 2);
    height: 10.625rem;
    width: 10.625rem;
  }
}

.contacts__location.dark h3 {
  color: #1a1a1a;
}

.contacts__location h3 {
  font-weight: 400;
  color: #eaeaea;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: 64em) {
  .contacts__location h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 75em) {
  .contacts__location h3 {
    font-size: 1.125rem;
    line-height: 1.8;
  }
}

.contacts__socials {
  margin-top: 5rem;
  -ms-grid-columns: min-content min-content;
      grid-template-columns: -webkit-min-content -webkit-min-content;
      grid-template-columns: min-content min-content;
}

@media (min-width: 64em) {
  .contacts__socials {
    margin-top: 6rem;
  }
}

@media (min-width: 75em) {
  .contacts__socials {
    margin-top: 20vh;
  }
}

.contacts__socials.dark a {
  color: #1a1a1a;
}

.contacts__socials a {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 2rem;
  font-weight: 400;
  color: #eaeaea;
  font-size: 0.875rem;
  line-height: 1.6;
}

@media (min-width: 64em) {
  .contacts__socials a {
    font-size: 1.5rem;
  }
}

@media (min-width: 75em) {
  .contacts__socials a {
    font-size: 1rem;
  }
}

.contacts__email {
  margin-top: 2.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (min-width: 75em) {
  .contacts__email {
    margin-top: 5rem;
  }
}

.contacts__email a {
  margin-right: 0;
  color: rgba(221, 77, 66, 0.9);
  font-size: 0.875rem;
  text-decoration: underline;
}

@media (min-width: 75em) {
  .contacts__email a {
    font-size: 1rem;
  }
}

.services__grid__article {
  position: relative;
  padding: 3.125rem 1.25rem;
  border-bottom: 1px solid rgba(26, 26, 26, 0.23);
  border-left: 1px solid rgba(26, 26, 26, 0.23);
  border-right: 1px solid rgba(26, 26, 26, 0.23);
}

.services__grid__article:first-child {
  border-top: 1px solid rgba(26, 26, 26, 0.23);
}

@media (min-width: 75em) {
  .services__grid__article:nth-child(even) {
    border-left: none;
  }
}

@media (min-width: 75em) {
  .services__grid__article:nth-child(2) {
    border-top: 1px solid rgba(26, 26, 26, 0.23);
  }
}

@media (min-width: 48em) {
  .services__grid__article {
    padding: 3.125rem 1.875rem;
  }
}

@media (min-width: 75em) {
  .services__grid__article {
    padding: 4.375rem 3.125rem 6.25rem;
  }
}

.services__grid__article h3 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1.0625rem;
  font-weight: 500;
}

@media (min-width: 48em) {
  .services__grid__article h3 {
    font-size: 1.375rem;
  }
}

@media (min-width: 64em) {
  .services__grid__article h3 {
    font-size: 1.625rem;
  }
}

@media (min-width: 75em) {
  .services__grid__article h3 {
    font-size: 1.5rem;
    margin-bottom: 1.875rem;
  }
}

.services__grid__article h5 {
  margin: 0;
  font-weight: 400;
  font-size: 0.9375rem;
}

@media (min-width: 48em) {
  .services__grid__article h5 {
    font-size: 1.125rem;
  }
}

@media (min-width: 64em) {
  .services__grid__article h5 {
    font-size: 1.375rem;
  }
}

@media (min-width: 75em) {
  .services__grid__article h5 {
    font-size: 1.25rem;
  }
}

.services__grid__article p {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 0;
  font-size: 0.875rem;
}

.services__grid__article p span {
  margin-right: 0.6rem;
}

.services__grid__article p a {
  color: #1a1a1a;
  border-bottom: 1px solid rgba(26, 26, 26, 0.5);
}

.showcase__grid__article {
  border-bottom: 1px solid rgba(26, 26, 26, 0.4);
}

.showcase__grid__article__categories h4 {
  font-weight: 400;
  font-size: 0.875rem;
  margin-top: 0;
  margin-bottom: 2rem;
  padding-top: 2.875rem;
}

@media (min-width: 48em) {
  .showcase__grid__article__categories h4 {
    font-size: 1.0625rem;
  }
}

@media (min-width: 64em) {
  .showcase__grid__article__categories h4 {
    font-size: 1.25rem;
  }
}

@media (min-width: 75em) {
  .showcase__grid__article__categories h4 {
    font-size: 0.875rem;
    margin-bottom: 3rem;
    padding-top: 3.875rem;
  }
}

.showcase__grid__article__categories h4:nth-child(even) {
  font-style: italic;
}

.showcase__grid__article__categories h4 span {
  font-size: 1.25rem;
  margin: 0 0 0 10px;
  vertical-align: baseline;
}

.showcase__grid__article h5 {
  margin-top: 0;
  margin-bottom: 2.875rem;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.6;
}

@media (min-width: 48em) {
  .showcase__grid__article h5 {
    font-size: 1.25rem;
    margin-bottom: 3.875rem;
  }
}

@media (min-width: 64em) {
  .showcase__grid__article h5 {
    font-size: 1.375rem;
  }
}

@media (min-width: 75em) {
  .showcase__grid__article h5 {
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 3rem;
  }
}

.about__presentation {
  height: 100vh;
  width: 100%;
  text-align: center;
  font-family: "Cormorant Garamond";
  color: #1a1a1a;
  letter-spacing: normal;
}

@media (min-width: 75em) {
  .about__presentation {
    height: 140vh;
    text-align: left;
    padding: 0 5.5vw 4vh;
  }
}

@media (min-width: 120em) {
  .about__presentation {
    height: 150vh;
  }
}

.about__presentation h1 {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 0;
}

@media (min-width: 48em) {
  .about__presentation h1 {
    font-size: 3.75rem;
  }
}

@media (min-width: 75em) {
  .about__presentation h1 {
    font-size: 6.875rem;
    line-height: 1;
    margin: 0 auto 0 0;
  }
}

@media (min-width: 120em) {
  .about__presentation h1 {
    font-size: 8.75rem;
    line-height: 1;
  }
}

.me,
.skills,
.about__contact {
  padding: 0 1.125rem 16vh;
}

@media (min-width: 48em) {
  .me,
  .skills,
  .about__contact {
    padding: 0 2rem 16vh;
  }
}

@media (min-width: 64em) {
  .me,
  .skills,
  .about__contact {
    padding: 16vh 5.5vw 4vh;
  }
}

@media (min-width: 75em) {
  .me,
  .skills,
  .about__contact {
    padding: 24vh 5.5vw 4vh;
  }
}

@media (min-width: 120em) {
  .me,
  .skills,
  .about__contact {
    padding: 14vh 5.5vw 4vh;
  }
}

.me {
  position: relative;
  padding-top: calc(5.625rem + 10.6325rem);
}

@media (min-width: 64em) {
  .me {
    padding-top: calc(16vh + 10.6325rem);
  }
}

@media (min-width: 75em) {
  .me {
    padding-top: 0;
  }
}

.me svg {
  position: absolute;
  top: calc(-10.625rem / 2);
  height: 10.625rem;
  width: 10.625rem;
  -webkit-animation: spin 30s linear infinite;
          animation: spin 30s linear infinite;
}

@media (min-width: 64em) {
  .me svg {
    top: calc(-14.625rem / 2);
    height: 14.625rem;
    width: 14.625rem;
  }
}

@media (min-width: 75em) {
  .me svg {
    top: calc(-10.625rem / 2);
    height: 10.625rem;
    width: 10.625rem;
  }
}

.skills__carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  color: #eaeaea;
}

.skills__carousel::before, .skills__carousel::after {
  content: "";
  height: 100%;
  position: absolute;
  width: 1.125rem;
  z-index: 2;
}

.skills__carousel::after {
  right: 1.125rem;
  top: 0;
}

.skills__carousel::before {
  left: 0;
  top: 0;
}

.skills__carousel .slide-track {
  -webkit-animation: phoneCarousel 8s linear infinite;
          animation: phoneCarousel 8s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(300px * 7);
}

@media (min-width: 75em) {
  .skills__carousel .slide-track {
    width: calc(500px * 7);
    -webkit-animation: desktopCarousel 8s linear infinite;
            animation: desktopCarousel 8s linear infinite;
    padding-bottom: 2rem;
  }
}

.skills__carousel .slide-track.reverse {
  -webkit-animation: phoneCarouselReverse 8s linear infinite;
          animation: phoneCarouselReverse 8s linear infinite;
}

@media (min-width: 75em) {
  .skills__carousel .slide-track.reverse {
    -webkit-animation: desktopCarouselReverse 8s linear infinite;
            animation: desktopCarouselReverse 8s linear infinite;
    padding-top: 2rem;
    padding-bottom: 0;
  }
}

.skills__carousel .slide-track.reverse h2 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: #1a1a1a;
}

.skills__carousel .slide-track .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 300px;
}

@media (min-width: 75em) {
  .skills__carousel .slide-track .slide {
    width: 500px;
  }
}

.skills__carousel .slide-track .slide h2 {
  color: #1a1a1a;
  font-size: 1.625rem;
  font-weight: 500;
  margin: 0;
}

@media (min-width: 75em) {
  .skills__carousel .slide-track .slide h2 {
    font-size: 2.125rem;
  }
}

.skills hr {
  background-color: rgba(26, 26, 26, 0.25);
  border: none;
  height: 1px;
  width: 100%;
}

.about__contact {
  padding-bottom: 6vh;
}

.about__contact__location h3 {
  font-weight: 400;
  color: #1a1a1a;
  font-size: 1rem;
  margin: 0;
}

@media (min-width: 64em) {
  .about__contact__location h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 75em) {
  .about__contact__location h3 {
    font-size: 1.25rem;
    line-height: 1.8;
  }
}

.about__contact__socials {
  margin-top: 3rem;
}

@media (min-width: 64em) {
  .about__contact__socials {
    margin-top: 6rem;
  }
}

@media (min-width: 75em) {
  .about__contact__socials {
    margin-top: 20vh;
  }
}

.about__contact__socials a {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 2rem;
  font-weight: 400;
  color: #1a1a1a;
}

@media (min-width: 64em) {
  .about__contact__socials a {
    font-size: 1.5rem;
  }
}

@media (min-width: 75em) {
  .about__contact__socials a {
    font-size: 1.25rem;
  }
}

.about__contact__socials a.open_work {
  margin-right: 0;
  margin-top: 1.125rem;
  color: rgba(221, 77, 66, 0.9);
  text-decoration: underline;
}

@media (min-width: 48em) {
  .about__contact__socials a.open_work {
    margin-top: 0;
    margin-left: auto;
  }
}

.projects__presentation {
  height: 100vh;
  width: 100%;
  position: relative;
  text-align: center;
  font-family: "Cormorant Garamond";
  color: #1a1a1a;
  letter-spacing: normal;
}

.projects__presentation h1 {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: 48em) {
  .projects__presentation h1 {
    font-size: 3.75rem;
  }
}

@media (min-width: 75em) {
  .projects__presentation h1 {
    font-size: 6.875rem;
    line-height: 1;
    margin: 0 auto 0 0;
  }
}

@media (min-width: 120em) {
  .projects__presentation h1 {
    font-size: 8.75rem;
    line-height: 1;
  }
}

.projects__presentation svg:not(#projects_circle) {
  height: 6.875rem;
  margin: 5rem 0;
}

@media (max-width: 667px) and (min-width: 375px) and (max-height: 667px) {
  .projects__presentation svg:not(#projects_circle) {
    margin: 3rem 0;
  }
}

.projects__presentation svg#projects_circle {
  position: absolute;
  bottom: calc(0% - (11.4375rem / 3));
  -webkit-animation: spin 30s linear infinite;
          animation: spin 30s linear infinite;
}

@media (max-width: 667px) and (min-width: 375px) and (max-height: 667px) {
  .projects__presentation svg#projects_circle {
    bottom: calc(0% - (11.4375rem / 2));
  }
}

.stack {
  padding: calc(5.625rem + 10.6325rem) 1.125rem 16vh;
}

@media (min-width: 48em) {
  .stack {
    padding: calc(5.625rem + 10.6325rem) 2rem 16vh;
  }
}

@media (min-width: 64em) {
  .stack {
    padding: 16vh 5.5vw 4vh;
  }
}

@media (min-width: 75em) {
  .stack {
    padding: 24vh 5.5vw 4vh;
  }
}

@media (min-width: 120em) {
  .stack {
    padding: 14vh 5.5vw 4vh;
  }
}

.stack__carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  color: #eaeaea;
}

.stack__carousel::before, .stack__carousel::after {
  content: "";
  height: 100%;
  position: absolute;
  width: 1.125rem;
  z-index: 2;
}

.stack__carousel::after {
  right: 1.125rem;
  top: 0;
}

.stack__carousel::before {
  left: 0;
  top: 0;
}

.stack__carousel .slide-track {
  -webkit-animation: phoneCarousel 8s linear infinite;
          animation: phoneCarousel 8s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(300px * 7);
}

@media (min-width: 75em) {
  .stack__carousel .slide-track {
    width: calc(500px * 7);
    -webkit-animation: desktopCarousel 8s linear infinite;
            animation: desktopCarousel 8s linear infinite;
    padding-bottom: 2rem;
  }
}

.stack__carousel .slide-track.reverse {
  -webkit-animation: phoneCarouselReverse 8s linear infinite;
          animation: phoneCarouselReverse 8s linear infinite;
}

@media (min-width: 75em) {
  .stack__carousel .slide-track.reverse {
    -webkit-animation: desktopCarouselReverse 8s linear infinite;
            animation: desktopCarouselReverse 8s linear infinite;
    padding-top: 2rem;
    padding-bottom: 0;
  }
}

.stack__carousel .slide-track.reverse h2 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: #1a1a1a;
}

.stack__carousel .slide-track .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 300px;
}

@media (min-width: 75em) {
  .stack__carousel .slide-track .slide {
    width: 500px;
  }
}

.stack__carousel .slide-track .slide h2 {
  color: #1a1a1a;
  font-size: 1.625rem;
  font-weight: 500;
  margin: 0;
}

@media (min-width: 75em) {
  .stack__carousel .slide-track .slide h2 {
    font-size: 2.125rem;
  }
}

.stack hr {
  background-color: rgba(26, 26, 26, 0.25);
  border: none;
  height: 1px;
  width: 100%;
}

.projects_showcase {
  padding: 0 1.125rem 16vh;
}

@media (min-width: 48em) {
  .projects_showcase {
    padding: 0 2rem 16vh;
  }
}

@media (min-width: 64em) {
  .projects_showcase {
    padding: 16vh 5.5vw 4vh;
  }
}

@media (min-width: 75em) {
  .projects_showcase {
    padding: 24vh 5.5vw 4vh;
  }
}

@media (min-width: 120em) {
  .projects_showcase {
    padding: 14vh 5.5vw 4vh;
  }
}

.projects_showcase__grid {
  row-gap: 1.875rem;
}

@media (min-width: 48em) {
  .projects_showcase__grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.projects_showcase__grid__card {
  font-family: "Cormorant";
}

.projects_showcase__grid__card h1 {
  margin: 0 40px 0 0;
  font-weight: 100;
  font-size: 6.875rem;
  line-height: 0.74;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: #1a1a1a;
}

.projects_showcase__grid__card a {
  margin: 0;
  line-height: 1;
  font-weight: 600;
  color: #1a1a1a;
  font-size: 1.5rem;
}

.projects_showcase__grid__card a span {
  margin: 0 0 0 10px;
}
/*# sourceMappingURL=style.css.map */