@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes phoneCarousel {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-180px * 3));
            transform: translateX(calc(-180px * 3));
  }
}

@keyframes phoneCarousel {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-180px * 3));
            transform: translateX(calc(-180px * 3));
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: "Montserrat";
  font-size: 1rem;
  line-height: 1.54;
  letter-spacing: -0.3px;
  background-color: #eaeaea;
}

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}

button:focus {
  outline: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: -ms-grid;
  display: grid;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (max-width: 47.9375em) {
  .hide-for-phone {
    display: none;
  }
}

@media (min-width: 48em) {
  .show-above-phone {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

main {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.no_scroll {
  overflow: hidden;
  height: 100vh;
}

.menu-open {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
}

.header {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 2;
  padding: 1rem 1.25rem;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.header.remove {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.header__logo {
  font-family: "Cormorant Garamond";
  font-size: 1.25rem;
  color: #1a1a1a;
  font-weight: 500;
  letter-spacing: normal;
}

.header__hamburger {
  position: relative;
  width: 2.25rem;
  height: 0.625rem;
}

.header__hamburger::before, .header__hamburger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 1.625rem;
  background-color: #1a1a1a;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.header__hamburger::before {
  top: 0%;
  left: -9px;
  -webkit-transform-origin: -12px 0;
          transform-origin: -12px 0;
}

.header__hamburger::after {
  bottom: 1%;
  -webkit-transform-origin: -14px 0;
          transform-origin: -14px 0;
}

.header_open {
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 1;
  padding: 1rem 1.25rem;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.header_open.open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.header_open__logo {
  font-family: "Cormorant Garamond";
  font-size: 1.25rem;
  color: #1a1a1a;
  font-weight: 700;
  letter-spacing: normal;
}

.header_open__cross {
  position: relative;
  width: 2.25rem;
  height: 1.875rem;
}

.header_open__cross__lines {
  content: "";
  position: absolute;
  left: 50%;
  height: 2px;
  width: 1.4rem;
  background-color: #1a1a1a;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.header_open__cross__lines:nth-child(1) {
  top: 0%;
  -webkit-transform: rotate(45deg) translateX(-25%);
          transform: rotate(45deg) translateX(-25%);
  -webkit-transform-origin: -1rem 2px;
          transform-origin: -1rem 2px;
}

.header_open__cross__lines:nth-child(2) {
  bottom: 1%;
  -webkit-transform: rotate(-45deg) translateX(-25%);
          transform: rotate(-45deg) translateX(-25%);
  -webkit-transform-origin: -0.8rem 1.5px;
          transform-origin: -0.8rem 1.5px;
}

.mobile_menu {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 2rem;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.mobile_menu__bg {
  background-color: #dd4d42;
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.mobile_menu__bg.open {
  width: 100%;
}

.mobile_menu.open {
  visibility: visible;
  pointer-events: auto;
}

.mobile_menu__content {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.mobile_menu__content__pos {
  position: absolute;
  width: 100%;
  top: auto;
  -webkit-transform: none;
          transform: none;
  height: 100%;
  padding: 2rem;
}

.mobile_menu__content__pos ul {
  padding: 0;
  margin: 1.6rem 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.mobile_menu__content__pos ul.open {
  visibility: visible;
  opacity: 1;
}

.mobile_menu__content__pos ul li {
  list-style-type: none;
}

.mobile_menu__content__pos ul li a {
  color: #1a1a1a;
}

.mobile_menu__content__pos ul.mobile_menu__links li {
  line-height: 1.1;
}

.mobile_menu__content__pos ul.mobile_menu__links li a {
  font-family: "Cormorant Garamond";
  font-size: 2.875rem;
  font-weight: 600;
}

.mobile_menu__content__pos ul.mobile_menu__services a {
  font-size: 1.125rem;
}

.mobile_menu__content__pos ul.mobile_menu__socials li {
  line-height: 2;
}

.mobile_menu__content__pos ul.mobile_menu__socials li a {
  font-size: 0.9375rem;
}

.mobile_menu__content__pos ul.mobile_menu__socials li a#email {
  text-decoration: underline;
}

.noise::before {
  background-image: url("../assets/noise.gif");
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: 0.03;
  z-index: 1000;
  pointer-events: none;
}

.sub_header {
  font-family: "Cormorant Garamond";
  font-size: 2.375rem;
  letter-spacing: normal;
  margin-top: 0;
  margin-bottom: 2.875rem;
}

.sub_header.dark_circle {
  color: #eaeaea;
  padding-top: calc(2.875rem + 10.6325rem);
}

.presentation {
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center;
  font-family: "Cormorant Garamond";
  color: #1a1a1a;
  letter-spacing: normal;
}

.presentation h1 {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 6.25rem;
}

.presentation h3 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
}

.presentation a {
  margin-top: 2rem;
  text-decoration: underline;
  color: #1a1a1a;
}

.about,
.services,
.showcase,
.contacts {
  padding: 0 1.125rem 16vh;
}

.about {
  width: 100%;
}

.about h4 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 2.875rem;
}

.about h4:last-child {
  margin-bottom: 0;
}

.showcase {
  padding-bottom: calc(16vh + (10.625rem / 2));
}

.showcase__grid {
  row-gap: 2.875rem;
}

.contacts {
  position: relative;
  background-color: #1a1a1a;
  padding-bottom: 6vh;
}

.contacts svg {
  position: absolute;
  top: calc(-10.625rem / 2);
  left: calc((10.625rem - 4rem));
  height: 10.625rem;
  width: 10.625rem;
  -webkit-animation: spin 30s linear infinite;
          animation: spin 30s linear infinite;
}

.contacts__carousel {
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #eaeaea;
}

.contacts__carousel .slide-track {
  -webkit-animation: phoneCarousel 4s linear infinite;
          animation: phoneCarousel 4s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(180px * 6);
}

.contacts__carousel .slide-track .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 180px;
}

.contacts__carousel .slide-track .slide h2 {
  color: rgba(234, 234, 234, 0.4);
  font-size: 1.875rem;
  font-weight: 500;
  margin: 0;
}

.contacts__socials {
  margin-top: 3rem;
}

.contacts__socials a {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 2rem;
  font-weight: 400;
  color: #eaeaea;
}

.contacts__socials a:last-child {
  margin-right: 0;
  margin-top: 1.125rem;
  text-decoration: underline;
}

.services__grid__article {
  position: relative;
  padding: 50px 20px;
  border-bottom: 1px solid rgba(26, 26, 26, 0.23);
  border-left: 1px solid rgba(26, 26, 26, 0.23);
  border-right: 1px solid rgba(26, 26, 26, 0.23);
}

.services__grid__article:first-child {
  border-top: 1px solid rgba(26, 26, 26, 0.23);
}

.services__grid__article h3 {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 500;
}

.services__grid__article h5 {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
}

.services__grid__article p {
  width: 100%;
  margin: 0;
  -webkit-transform: translate(-20px, 20px);
          transform: translate(-20px, 20px);
}

.showcase__grid__article {
  border-bottom: 1px solid rgba(26, 26, 26, 0.4);
}

.showcase__grid__article__categories h4 {
  font-weight: 400;
  font-size: 0.875rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

.showcase__grid__article h5 {
  margin-top: 0;
  margin-bottom: 2.875rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6;
}
/*# sourceMappingURL=style.css.map */