<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="icon" href="../assets/Logo.svg" />

    <title>About me</title>
  </head>
  <body>
    <div class="cursor hide-for-mobile"></div>
    <div class="cursor-follower hide-for-mobile"></div>
    <div class="noise"></div>
    <nav class="header flex flex-ai-c flex-jc-sb">
      <a href="/" class="header__logo">Nuno</a>
      <div class="header__hamburger hide-for-desktop"></div>
      <div class="header__desktop_menu hide-for-mobile">
        <a href="#">Projects</a>
        <a href="./about.html">About Me</a>
      </div>
    </nav>
    <nav class="header_open flex flex-ai-c flex-jc-sb hide-for-desktop">
      <a href="/" class="header_open__logo">Nuno</a>
      <div class="header_open__cross">
        <div class="header_open__cross__lines"></div>
        <div class="header_open__cross__lines"></div>
      </div>
    </nav>
    <div class="mobile_menu">
      <div class="mobile_menu__bg"></div>
      <div class="mobile_menu__content">
        <div class="mobile_menu__content__pos flex flex-fd-c flex-jc-fe">
          <ul class="mobile_menu__links">
            <li>
              <a href="/">Homepage</a>
            </li>
            <li>
              <a href="/">Projects</a>
            </li>
            <li>
              <a href="./about.html">About</a>
            </li>
          </ul>

          <ul class="mobile_menu__services">
            <li>
              <a href="mailto:nunopereirasousa00@gmail.com">Websites</a>
            </li>
            <li>
              <a href="mailto:nunopereirasousa00@gmail.com"
                >Teaching & tutoring</a
              >
            </li>
            <li>
              <a href="mailto:nunopereirasousa00@gmail.com">UI design</a>
            </li>
          </ul>

          <ul class="mobile_menu__socials">
            <li>
              <a href="">LinkedIn</a>
            </li>
            <li>
              <a href="">Instagram</a>
            </li>
            <li>
              <a href="">GitHub</a>
            </li>
            <li>
              <a href="mailto:nunopereirasousa00@gmail.com" id="email"
                >nunopereirasousa00@gmail.com</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <main class="main">
      <section class="about__presentation flex flex-ai-c flex-jc-c flex-fd-c">
        <h1 class="hide-for-desktop">
          <div>
            <div>My goal is</div>
          </div>
          <div>
            <div>to inspire</div>
          </div>
          <div>
            <div>as many people</div>
          </div>
          <div>
            <div>as possible.</div>
          </div>
          <div>
            <div>I will</div>
          </div>
          <div>
            <div>ensure I leave a</div>
          </div>
          <div>
            <div>in this world.</div>
          </div>
        </h1>
        <h1 class="hide-for-mobile">
          <div>
            <div>My goal is to inspire</div>
          </div>
          <div>
            <div>as many people as</div>
          </div>
          <div>
            <div>possible.</div>
          </div>
          <div>
            <div>I will ensure</div>
          </div>
          <div>
            <div>I leave a legacy</div>
          </div>
          <div>
            <div>in this world.</div>
          </div>
        </h1>
      </section>

      <section class="me">
        <div class="flex flex-jc-c hide-for-desktop">
          <svg
            id="Circle01"
            xmlns="http://www.w3.org/2000/svg"
            width="183"
            height="183"
            viewBox="0 0 183 183"
          >
            <path
              id="Path_1"
              data-name="Path 1"
              d="M91.5,0A91.5,91.5,0,1,1,0,91.5,91.5,91.5,0,0,1,91.5,0Z"
              fill="#e5e5e5"
            />
            <text
              id="N"
              transform="translate(71.43 24.55) rotate(-11.32)"
              fill="#1a1a1a"
              font-size="16"
              font-family="Cormorant-Bold, Cormorant"
              font-weight="700"
            >
              <tspan x="0" y="0">N</tspan>
            </text>
            <text
              id="E"
              transform="translate(84.14 22.11) rotate(-1.718)"
              fill="#1a1a1a"
              font-size="16"
              font-family="Cormorant-Bold, Cormorant"
              font-weight="700"
            >
              <tspan x="0" y="0">E</tspan>
            </text>
            <text
              id="V"
              transform="matrix(0.991, 0.131, -0.131, 0.991, 94.77, 21.75)"
              fill="#1a1a1a"
              font-size="16"
              font-family="Cormorant-Bold, Cormorant"
              font-weight="700"
            >
              <tspan x="0" y="0">V</tspan>
            </text>
            <text
              id="E-2"
              data-name="E"
              transform="translate(106.41 23.32) rotate(16.809)"
              fill="#1a1a1a"
              font-size="16"
              font-family="Cormorant-Bold, Cormorant"
              font-weight="700"
            >
              <tspan x="0" y="0">E</tspan>
            </text>
            <text
              id="R"
              transform="translate(116.76 26.39) rotate(26.08)"
              fill="#1a1a1a"
              font-size="16"
              font-family="Cormorant-Bold, Cormorant"
              font-weight="700"
            >
              <tspan x="0" y="0">R</tspan>
            </text>
            <text
              id="_"
              data-name="»"
              transform="matrix(0.736, 0.677, -0.677, 0.736, 135.25, 37.21)"
              fill="#1a1a1a"
              font-size="16"
              font-family="Cormorant-Bold, Cormorant"
              font-weight="700"
            >
              <tspan x="0" y="0">»</tspan>
            </text>
            <text
              id="A"
              transform="translate(148.24 50.76) rotate(59.331)"
              fill="#1a1a1a"
              font-size="16"
              font-family="Cormorant-Bold, Cormorant"
              font-weight="700"
            >
              <tspan x="0" y="0">A</tspan>
            </text>
            <text
              id="P"
              transform="translate(154.49 61.33) rotate(69.21)"
              fill="#1a1a1a"
              font-size="16"
              font-family="Cormorant-Bold, Cormorant"
              font-weight="700"
            >
              <tspan x="0" y="0">P</tspan>
            </text>
            <text
              id="O"
              transform="translate(158.73 72.28) rotate(79.65)"
              fill="#1a1a1a"
              font-size="16"
              font-family="Cormorant-Bold, Cormorant"
              font-weight="700"
            >
              <tspan x="0" y="0">O</tspan>
            </text>
            <text
              id="L"
              transform="matrix(0.016, 1, -1, 0.016, 160.99, 85.6)"
              fill="#1a1a1a"
              font-size="16"
              font-family="Cormorant-Bold, Cormorant"
              font-weight="700"
            >
              <tspan x="0" y="0">L</tspan>
            </text>
            <text
              id="O-2"
              data-name="O"
              transform="translate(161.31 95.15) rotate(98.46)"
              fill="#1a1a1a"
              font-size="16"
              font-family="Cormorant-Bold, Cormorant"
              font-weight="700"
            >
              <tspan x="0" y="0">O</tspan>
            </text>
            <text
              id="G"
              transform="matrix(-0.331, 0.944, -0.944, -0.331, 159.28, 108.47)"
              fill="#1a1a1a"
              font-size="16"
              font-family="Cormorant-Bold, Cormorant"
              font-weight="700"
            >
              <tspan x="0" y="0">G</tspan>
            </text>
            <text
              id="I"
              transform="matrix(-0.446, 0.895, -0.895, -0.446, 154.97, 120.17)"
              fill="#1a1a1a"
              font-size="16"
              font-family="Cormorant-Bold, Cormorant"
              font-weight="700"
            >
              <tspan x="0" y="0">I</tspan>
            </text>
            <text
              id="Z"
              transform="translate(152.69 125.08) rotate(123.22)"
              fill="#1a1a1a"
              font-size="16"
              font-family="Cormorant-Bold, Cormorant"
              font-weight="700"
            >
              <tspan x="0" y="0">Z</tspan>
            </text>
            <text
              id="E-3"
              data-name="E"
              transform="translate(146.77 134.1) rotate(132.05)"
              fill="#1a1a1a"
              font-size="16"
              font-family="Cormorant-Bold, Cormorant"
              font-weight="700"
            >
              <tspan x="0" y="0">E</tspan>
            </text>
            <text
              id="_2"
              data-name="»"
              transform="matrix(-0.85, 0.528, -0.528, -0.85, 132.02, 148.25)"
              fill="#1a1a1a"
              font-size="16"
              font-family="Cormorant-Bold, Cormorant"
              font-weight="700"
            >
              <tspan x="0" y="0">»</tspan>
            </text>
            <text
              id="F"
              transform="translate(115.42 157.06) rotate(164.291)"
              fill="#1a1a1a"
              font-size="16"
              font-family="Cormorant-Bold, Cormorant"
              font-weight="700"
            >
              <tspan x="0" y="0">F</tspan>
            </text>
            <text
              id="O-3"
              data-name="O"
              transform="translate(105.69 159.96) rotate(173.66)"
              fill="#1a1a1a"
              font-size="16"
              font-family="Cormorant-Bold, Cormorant"
              font-weight="700"
            >
              <tspan x="0" y="0">O</tspan>
            </text>
            <text
              id="R-2"
              data-name="R"
              transform="translate(92.23 161.32) rotate(-175.996)"
              fill="#1a1a1a"
              font-size="16"
              font-family="Cormorant-Bold, Cormorant"
              font-weight="700"
            >
              <tspan x="0" y="0">R</tspan>
            </text>
            <text
              id="_3"
              data-name="»"
              transform="translate(71.08 158.19) rotate(-159.23)"
              fill="#1a1a1a"
              font-size="16"
              font-family="Cormorant-Bold, Cormorant"
              font-weight="700"
            >
              <tspan x="0" y="0">»</tspan>
            </text>
            <text
              id="W"
              transform="matrix(-0.765, -0.644, 0.644, -0.765, 53.86, 150.76)"
              fill="#1a1a1a"
              font-size="16"
              font-family="Cormorant-Bold, Cormorant"
              font-weight="700"
            >
              <tspan x="0" y="0">W</tspan>
            </text>
            <text
              id="H"
              transform="matrix(-0.606, -0.795, 0.795, -0.606, 40.06, 138.79)"
              fill="#1a1a1a"
              font-size="16"
              font-family="Cormorant-Bold, Cormorant"
              font-weight="700"
            >
              <tspan x="0" y="0">H</tspan>
            </text>
            <text
              id="O-4"
              data-name="O"
              transform="translate(32.21 128.54) rotate(-116.49)"
              fill="#1a1a1a"
              font-size="16"
              font-family="Cormorant-Bold, Cormorant"
              font-weight="700"
            >
              <tspan x="0" y="0">O</tspan>
            </text>
            <text
              id="_4"
              data-name="»"
              transform="matrix(-0.16, -0.987, 0.987, -0.16, 23.54, 107.12)"
              fill="#1a1a1a"
              font-size="16"
              font-family="Cormorant-Bold, Cormorant"
              font-weight="700"
            >
              <tspan x="0" y="0">»</tspan>
            </text>
            <text
              id="Y"
              transform="translate(21.79 88.39) rotate(-83.07)"
              fill="#1a1a1a"
              font-size="16"
              font-family="Cormorant-Bold, Cormorant"
              font-weight="700"
            >
              <tspan x="0" y="0">Y</tspan>
            </text>
            <text
              id="O-5"
              data-name="O"
              transform="translate(22.89 78.08) rotate(-73.41)"
              fill="#1a1a1a"
              font-size="16"
              font-family="Cormorant-Bold, Cormorant"
              font-weight="700"
            >
              <tspan x="0" y="0">O</tspan>
            </text>
            <text
              id="U"
              transform="translate(26.78 65.15) rotate(-62.668)"
              fill="#1a1a1a"
              font-size="16"
              font-family="Cormorant-Bold, Cormorant"
              font-weight="700"
            >
              <tspan x="0" y="0">U</tspan>
            </text>
            <text
              id="_5"
              data-name="’"
              transform="translate(32.88 53.96) rotate(-55.59)"
              fill="#1a1a1a"
              font-size="16"
              font-family="Cormorant-Bold, Cormorant"
              font-weight="700"
            >
              <tspan x="0" y="0">’</tspan>
            </text>
            <text
              id="R-3"
              data-name="R"
              transform="matrix(0.657, -0.754, 0.754, 0.657, 35.17, 50.25)"
              fill="#1a1a1a"
              font-size="16"
              font-family="Cormorant-Bold, Cormorant"
              font-weight="700"
            >
              <tspan x="0" y="0">R</tspan>
            </text>
            <text
              id="E-4"
              data-name="E"
              transform="matrix(0.769, -0.639, 0.639, 0.769, 42.96, 41.38)"
              fill="#1a1a1a"
              font-size="16"
              font-family="Cormorant-Bold, Cormorant"
              font-weight="700"
            >
              <tspan x="0" y="0">E</tspan>
            </text>
            <text
              id="_."
              data-name="."
              transform="translate(51.59 34.47) rotate(-33.215)"
              fill="#1a1a1a"
              font-size="16"
              font-family="Cormorant-Bold, Cormorant"
              font-weight="700"
            >
              <tspan x="0" y="0">.</tspan>
            </text>
          </svg>
        </div>

        <h2 class="sub_header">
          <div>Achievements <sup>1-5</sup></div>
        </h2>

        <div class="showcase__grid grid">
          <article class="showcase__grid__article">
            <div
              class="showcase__grid__article__categories flex flex-ai-c flex-jc-sb"
            >
              <h4>College - Web development</h4>
              <h4>2018 - 2021</h4>
            </div>

            <h5>
              I am senior college student with the highest GPA for a web
              development degree: 4.5 / 5
            </h5>
          </article>
          <article class="showcase__grid__article">
            <div
              class="showcase__grid__article__categories flex flex-ai-c flex-jc-sb"
            >
              <h4>College - Web development</h4>
              <h4>2018 - 2021</h4>
            </div>

            <h5>
              I am senior college student with the highest GPA for a web
              development degree: 4.5 / 5
            </h5>
          </article>
          <article class="showcase__grid__article">
            <div
              class="showcase__grid__article__categories flex flex-ai-c flex-jc-sb"
            >
              <h4>Teaching and tutoring</h4>
              <h4>2021</h4>
            </div>

            <h5>
              Teaching & tutoring programming to people all over the world with
              more than 140 hours already taught and tutored in the last 3
              months.
            </h5>
          </article>
          <article class="showcase__grid__article">
            <div
              class="showcase__grid__article__categories flex flex-ai-c flex-jc-sb"
            >
              <h4>Multi-time national champion</h4>
              <h4>2012 - 2017</h4>
            </div>

            <h5>
              Multiple times national champions with over 70 titles and awards .
            </h5>
          </article>
          <article class="showcase__grid__article">
            <div
              class="showcase__grid__article__categories flex flex-ai-c flex-jc-sb"
            >
              <h4>Multi-time national champion</h4>
              <h4>2009 - 2014</h4>
            </div>

            <h5>
              Completed the 5 years musical school course, piano as the main
              musical instrument.
            </h5>
          </article>
        </div>

        <!-- <h3>
          I am senior college student with the highest GPA for a web development
          degree. I'm passionate about learning the latest and greatest
          technologies whether that's front-end or back-end. Helping people
          achieving their maximum potential is also a passion, and something I
          strive to do 24/ 7.
        </h3> -->
      </section>

      <section class="skills">
        <h2 class="sub_header">
          <div>What I have</div>
          <div>worked with</div>
        </h2>

        <div class="skills__carousel carousel">
          <div class="slide-track">
            <div class="slide">
              <h2>HTML5</h2>
            </div>
            <div class="slide">
              <h2>CSS3</h2>
            </div>
            <div class="slide">
              <h2>JavaScript</h2>
            </div>
            <div class="slide">
              <h2>SCSS</h2>
            </div>
            <div class="slide">
              <h2>Vue.js</h2>
            </div>
            <div class="slide">
              <h2>Node.js</h2>
            </div>
            <div class="slide">
              <h2>Python</h2>
            </div>
            <div class="slide">
              <h2>HTML5</h2>
            </div>
            <div class="slide">
              <h2>CSS3</h2>
            </div>
            <div class="slide">
              <h2>JavaScript</h2>
            </div>
            <div class="slide">
              <h2>SCSS</h2>
            </div>
            <div class="slide">
              <h2>Vue.js</h2>
            </div>
            <div class="slide">
              <h2>Node.js</h2>
            </div>
            <div class="slide">
              <h2>Python</h2>
            </div>
          </div>
        </div>
        <hr />
        <div class="skills__carousel carousel">
          <div class="slide-track reverse">
            <div class="slide">
              <h2>MySQL</h2>
            </div>
            <div class="slide">
              <h2>Git</h2>
            </div>
            <div class="slide">
              <h2>Three.js</h2>
            </div>
            <div class="slide">
              <h2>GSAP</h2>
            </div>
            <div class="slide">
              <h2>Sequelize</h2>
            </div>
            <div class="slide">
              <h2>Brain</h2>
            </div>
            <div class="slide">
              <h2>Mongodb</h2>
            </div>
            <div class="slide">
              <h2>MySQL</h2>
            </div>
            <div class="slide">
              <h2>Git</h2>
            </div>
            <div class="slide">
              <h2>Three.js</h2>
            </div>
            <div class="slide">
              <h2>GSAP</h2>
            </div>
            <div class="slide">
              <h2>Sequelize</h2>
            </div>
            <div class="slide">
              <h2>Brain</h2>
            </div>
            <div class="slide">
              <h2>Mongodb</h2>
            </div>
          </div>
        </div>
      </section>

      <section class="about__contact">
        <h2 class="sub_header">
          <div>Let's work</div>
          <div>Together</div>
        </h2>

        <div class="contacts__location dark">
          <h3>oPorto city</h3>
          <h3>Portugal</h3>
          <h3>— more than a web developer 🚀</h3>
        </div>

        <div class="contacts__socials flex flex-wrap dark">
          <a
            href="https://www.linkedin.com/in/nunopereirasous/"
            target="_blank"
          >
            <div><div>Ln</div></div>
          </a>
          <a href="https://www.instagram.com/nunopereirasousa/" target="_blank">
            <div><div>Ig</div></div>
          </a>
          <a href="https://github.com/NunoPereiraSousa" target="_blank">
            <div><div>Gh</div></div>
          </a>
          <a href="mailto:nunopereirasousa00@gmail.com" class="open_work">
            <div><div>nunopereirasousa00@gmail.com</div></div>
          </a>
        </div>
      </section>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"
      integrity="sha512-cdV6j5t5o24hkSciVrb8Ki6FveC2SgwGfLE31+ZQRHAeSRxYhAQskLkq3dLm8ZcWe1N3vBOEYmmbhzf7NTtFFQ=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"
      integrity="sha512-cdV6j5t5o24hkSciVrb8Ki6FveC2SgwGfLE31+ZQRHAeSRxYhAQskLkq3dLm8ZcWe1N3vBOEYmmbhzf7NTtFFQ=="
      crossorigin="anonymous"
    ></script>
    <script src="../js/cursor.js"></script>
    <script src="../js/header.js"></script>
  </body>
</html>
