<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Homepage</title>
  </head>
  <body>
    <div class="noise"></div>
    <nav class="header flex flex-ai-c flex-jc-sb">
      <a href="/" class="header__logo">Nuno</a>
      <div class="header__hamburger"></div>
    </nav>
    <nav class="header_open flex flex-ai-c flex-jc-sb">
      <a href="/" class="header_open__logo">Nuno</a>
      <div class="header_open__cross">
        <div class="header_open__cross__lines"></div>
        <div class="header_open__cross__lines"></div>
      </div>
    </nav>
    <div class="mobile_menu">
      <div class="mobile_menu__bg"></div>
      <div class="mobile_menu__content">
        <div class="mobile_menu__content__pos flex flex-fd-c flex-jc-fe">
          <ul class="mobile_menu__links">
            <li>
              <a href="/">Homepage</a>
            </li>
            <li>
              <a href="/">Projects</a>
            </li>
            <li>
              <a href="/">About</a>
            </li>
          </ul>

          <ul class="mobile_menu__services">
            <li>
              <a href="mailto:nunopereirasousa00@gmail.com">Websites</a>
            </li>
            <li>
              <a href="mailto:nunopereirasousa00@gmail.com"
                >Teaching & tutoring</a
              >
            </li>
            <li>
              <a href="mailto:nunopereirasousa00@gmail.com">UI design</a>
            </li>
          </ul>

          <ul class="mobile_menu__socials">
            <li>
              <a href="">LinkedIn</a>
            </li>
            <li>
              <a href="">Instagram</a>
            </li>
            <li>
              <a href="">GitHub</a>
            </li>
            <li>
              <a href="mailto:nunopereirasousa00@gmail.com" id="email"
                >nunopereirasousa00@gmail.com</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <main class="main">
      <section class="presentation flex flex-ai-c flex-jc-c flex-fd-c">
        <h1>
          <div>
            <div>Web Developer</div>
          </div>
          <div>
            <div>Teacher & Tutor</div>
          </div>
          <div>
            <div>Athlete</div>
          </div>
        </h1>

        <h3>
          <div>
            <div>Based in Portugal</div>
          </div>
        </h3>

        <a href="mailto:nunopereirasousa00@gmail.com">Open to work</a>
      </section>

      <section class="about">
        <h2 class="sub_header">About</h2>

        <h4>
          <div>
            <div>I'm a senior college student with the</div>
          </div>
          <div>
            <div>highest GPA in a web development</div>
          </div>
          <div>
            <div>degree.</div>
          </div>
        </h4>

        <h4>
          <div>
            <div>I'm passionate about learning the</div>
          </div>
          <div>
            <div>latest and greatest technologies</div>
          </div>
          <div>
            <div>whether that's front-end or back-end</div>
          </div>
          <div>
            <div>related.</div>
          </div>
        </h4>

        <h4>
          <div>
            <div>Helping people achieving their dreams</div>
          </div>
          <div>
            <div>is also a passion I have, and something</div>
          </div>
          <div>
            <div>I strive to do 24/7.</div>
          </div>
        </h4>
      </section>

      <section class="services">
        <h2 class="sub_header">Services</h2>

        <div class="class services__grid grid">
          <article class="services__grid__article">
            <h3>Websites</h3>
            <h5>
              <div>
                <div>I build websites and portfolios that</div>
              </div>
              <div>
                <div>create difference and value.</div>
              </div>
            </h5>
          </article>
          <article class="services__grid__article">
            <h3>Teaching and tutoring</h3>
            <h5>
              <div>
                <div>I teach and tutor programming to</div>
              </div>
              <div>
                <div>people all over the world.</div>
              </div>
            </h5>
          </article>
          <article class="services__grid__article">
            <h3>UI Design</h3>
            <h5>
              <div>
                <div>I create unique and user friendly UIs</div>
              </div>
              <div>
                <div>for mobile and desktop.</div>
              </div>
            </h5>
          </article>
          <article class="services__grid__article contact">
            <h3>Let's create difference!</h3>
            <p class="flex flex-jc-fe">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="46.979"
                height="36.212"
                viewBox="0 0 46.979 36.212"
              >
                <g
                  id="Group_6"
                  data-name="Group 6"
                  transform="translate(-1192.854 -846.363)"
                >
                  <rect
                    id="Rectangle_3"
                    data-name="Rectangle 3"
                    width="6"
                    height="42.94"
                    transform="translate(1192.854 867.455) rotate(-90)"
                    fill="#555"
                  />
                  <rect
                    id="Rectangle_4"
                    data-name="Rectangle 4"
                    width="6"
                    height="26"
                    transform="translate(1216.725 850.752) rotate(-47)"
                    fill="#555"
                  />
                  <rect
                    id="Rectangle_5"
                    data-name="Rectangle 5"
                    width="6"
                    height="26"
                    transform="translate(1235.74 860.455) rotate(47)"
                    fill="#555"
                  />
                </g>
              </svg>
            </p>
          </article>
        </div>
      </section>

      <section class="showcase">
        <h2 class="sub_header">About</h2>

        <div class="showcase__grid grid">
          <article class="showcase__grid__article">
            <div
              class="showcase__grid__article__categories flex flex-ai-c flex-jc-sb"
            >
              <h4>Website</h4>
              <h4>PORTIC</h4>
            </div>

            <h5>
              <div>
                <div>Institutional website for oPorto Research,</div>
              </div>
              <div>
                <div>Technology & Innovation Center.</div>
              </div>
            </h5>
          </article>
          <article class="showcase__grid__article">
            <div
              class="showcase__grid__article__categories flex flex-ai-c flex-jc-sb"
            >
              <h4>Website</h4>
              <h4>PORTIC</h4>
            </div>

            <h5>
              <div>
                <div>Institutional website for oPorto Research,</div>
              </div>
              <div>
                <div>Technology & Innovation Center.</div>
              </div>
            </h5>
          </article>
          <article class="showcase__grid__article">
            <div
              class="showcase__grid__article__categories flex flex-ai-c flex-jc-sb"
            >
              <h4>Website</h4>
              <h4>PORTIC</h4>
            </div>

            <h5>
              <div>
                <div>Institutional website for oPorto Research,</div>
              </div>
              <div>
                <div>Technology & Innovation Center.</div>
              </div>
            </h5>
          </article>
          <article class="showcase__grid__article">
            <div
              class="showcase__grid__article__categories flex flex-ai-c flex-jc-sb"
            >
              <h4>Website</h4>
              <h4>PORTIC</h4>
            </div>

            <h5>
              <div>
                <div>Institutional website for oPorto Research,</div>
              </div>
              <div>
                <div>Technology & Innovation Center.</div>
              </div>
            </h5>
          </article>
        </div>
      </section>

      <section class="contacts">
        <svg
          id="Layer_2"
          data-name="Layer 2"
          xmlns="http://www.w3.org/2000/svg"
          width="183"
          height="183"
          viewBox="0 0 183 183"
        >
          <circle
            id="Ellipse_4"
            data-name="Ellipse 4"
            cx="91.5"
            cy="91.5"
            r="91.5"
            fill="#e5e5e5"
          />
          <text
            id="I"
            transform="matrix(0.969, -0.248, 0.248, 0.969, 71.62, 24.76)"
            fill="#1a1a1a"
            font-size="16"
            font-family="CormorantGaramond-Bold, Cormorant Garamond"
            font-weight="700"
          >
            <tspan x="0" y="0">I</tspan>
          </text>
          <text
            id="D"
            transform="matrix(0.993, -0.12, 0.12, 0.993, 76.79, 23.17)"
            fill="#1a1a1a"
            font-size="16"
            font-family="CormorantGaramond-Bold, Cormorant Garamond"
            font-weight="700"
          >
            <tspan x="0" y="0">D</tspan>
          </text>
          <text
            id="E"
            transform="matrix(0.999, 0.054, -0.054, 0.999, 89.94, 21.74)"
            fill="#1a1a1a"
            font-size="16"
            font-family="CormorantGaramond-Bold, Cormorant Garamond"
            font-weight="700"
          >
            <tspan x="0" y="0">E</tspan>
          </text>
          <text
            id="A"
            transform="translate(100.71 22.26) rotate(12.55)"
            fill="#1a1a1a"
            font-size="16"
            font-family="CormorantGaramond-Bold, Cormorant Garamond"
            font-weight="700"
          >
            <tspan x="0" y="0">A</tspan>
          </text>
          <text
            id="S"
            transform="matrix(0.928, 0.373, -0.373, 0.928, 112.7, 25.02)"
            fill="#1a1a1a"
            font-size="16"
            font-family="CormorantGaramond-Bold, Cormorant Garamond"
            font-weight="700"
          >
            <tspan x="0" y="0">S</tspan>
          </text>
          <text
            id="_"
            data-name="»"
            transform="matrix(0.79, 0.614, -0.614, 0.79, 130.58, 33.75)"
            fill="#1a1a1a"
            font-size="16"
            font-family="CormorantGaramond-Bold, Cormorant Garamond"
            font-weight="700"
          >
            <tspan x="0" y="0">»</tspan>
          </text>
          <text
            id="A-2"
            data-name="A"
            transform="translate(144.65 46.19) rotate(54.54)"
            fill="#1a1a1a"
            font-size="16"
            font-family="CormorantGaramond-Bold, Cormorant Garamond"
            font-weight="700"
          >
            <tspan x="0" y="0">A</tspan>
          </text>
          <text
            id="R"
            transform="matrix(0.431, 0.902, -0.902, 0.431, 151.76, 56.2)"
            fill="#1a1a1a"
            font-size="16"
            font-family="CormorantGaramond-Bold, Cormorant Garamond"
            font-weight="700"
          >
            <tspan x="0" y="0">R</tspan>
          </text>
          <text
            id="E-2"
            data-name="E"
            transform="translate(156.81 66.86) rotate(73.77)"
            fill="#1a1a1a"
            font-size="16"
            font-family="CormorantGaramond-Bold, Cormorant Garamond"
            font-weight="700"
          >
            <tspan x="0" y="0">E</tspan>
          </text>
          <text
            id="_2"
            data-name="»"
            transform="matrix(0.016, 1, -1, 0.016, 161, 86.79)"
            fill="#1a1a1a"
            font-size="16"
            font-family="CormorantGaramond-Bold, Cormorant Garamond"
            font-weight="700"
          >
            <tspan x="0" y="0">»</tspan>
          </text>
          <text
            id="S-2"
            data-name="S"
            transform="translate(159.84 105.59) rotate(105.81)"
            fill="#1a1a1a"
            font-size="16"
            font-family="CormorantGaramond-Bold, Cormorant Garamond"
            font-weight="700"
          >
            <tspan x="0" y="0">S</tspan>
          </text>
          <text
            id="H"
            transform="translate(157.15 115.49) rotate(115.42)"
            fill="#1a1a1a"
            font-size="16"
            font-family="CormorantGaramond-Bold, Cormorant Garamond"
            font-weight="700"
          >
            <tspan x="0" y="0">H</tspan>
          </text>
          <text
            id="_3"
            data-name="*"
            transform="translate(151.37 127.14) rotate(123.68)"
            fill="#1a1a1a"
            font-size="16"
            font-family="CormorantGaramond-Bold, Cormorant Garamond"
            font-weight="700"
          >
            <tspan x="0" y="0">*</tspan>
          </text>
          <text
            id="T"
            transform="matrix(-0.657, 0.754, -0.754, -0.657, 147.22, 133.46)"
            fill="#1a1a1a"
            font-size="16"
            font-family="CormorantGaramond-Bold, Cormorant Garamond"
            font-weight="700"
          >
            <tspan x="0" y="0">T</tspan>
          </text>
          <text
            id="_4"
            data-name="»"
            transform="matrix(-0.837, 0.547, -0.547, -0.837, 133.33, 147.29)"
            fill="#1a1a1a"
            font-size="16"
            font-family="CormorantGaramond-Bold, Cormorant Garamond"
            font-weight="700"
          >
            <tspan x="0" y="0">»</tspan>
          </text>
          <text
            id="W"
            transform="matrix(-0.97, 0.24, -0.24, -0.97, 117.22, 156.84)"
            fill="#1a1a1a"
            font-size="16"
            font-family="CormorantGaramond-Bold, Cormorant Garamond"
            font-weight="700"
          >
            <tspan x="0" y="0">W</tspan>
          </text>
          <text
            id="I-2"
            data-name="I"
            transform="translate(99.25 160.7) rotate(175.996)"
            fill="#1a1a1a"
            font-size="16"
            font-family="CormorantGaramond-Bold, Cormorant Garamond"
            font-weight="700"
          >
            <tspan x="0" y="0">I</tspan>
          </text>
          <text
            id="T-2"
            data-name="T"
            transform="translate(93.86 161.21) rotate(-177.91)"
            fill="#1a1a1a"
            font-size="16"
            font-family="CormorantGaramond-Bold, Cormorant Garamond"
            font-weight="700"
          >
            <tspan x="0" y="0">T</tspan>
          </text>
          <text
            id="H-2"
            data-name="H"
            transform="translate(83.92 160.97) rotate(-168.52)"
            fill="#1a1a1a"
            font-size="16"
            font-family="CormorantGaramond-Bold, Cormorant Garamond"
            font-weight="700"
          >
            <tspan x="0" y="0">H</tspan>
          </text>
          <text
            id="O"
            transform="translate(71.25 158.43) rotate(-157.6)"
            fill="#1a1a1a"
            font-size="16"
            font-family="CormorantGaramond-Bold, Cormorant Garamond"
            font-weight="700"
          >
            <tspan x="0" y="0">O</tspan>
          </text>
          <text
            id="U"
            transform="translate(58.8 153.25) rotate(-146.86)"
            fill="#1a1a1a"
            font-size="16"
            font-family="CormorantGaramond-Bold, Cormorant Garamond"
            font-weight="700"
          >
            <tspan x="0" y="0">U</tspan>
          </text>
          <text
            id="_5"
            data-name="»"
            transform="translate(41.14 139.72) rotate(-130.04)"
            fill="#1a1a1a"
            font-size="16"
            font-family="CormorantGaramond-Bold, Cormorant Garamond"
            font-weight="700"
          >
            <tspan x="0" y="0">»</tspan>
          </text>
          <text
            id="E-3"
            data-name="E"
            transform="matrix(-0.405, -0.914, 0.914, -0.405, 30.03, 124.56)"
            fill="#1a1a1a"
            font-size="16"
            font-family="CormorantGaramond-Bold, Cormorant Garamond"
            font-weight="700"
          >
            <tspan x="0" y="0">E</tspan>
          </text>
          <text
            id="X"
            transform="translate(25.68 114.8) rotate(-104.452)"
            fill="#1a1a1a"
            font-size="16"
            font-family="CormorantGaramond-Bold, Cormorant Garamond"
            font-weight="700"
          >
            <tspan x="0" y="0">X</tspan>
          </text>
          <text
            id="E-4"
            data-name="E"
            transform="matrix(-0.102, -0.995, 0.995, -0.102, 22.84, 104.01)"
            fill="#1a1a1a"
            font-size="16"
            font-family="CormorantGaramond-Bold, Cormorant Garamond"
            font-weight="700"
          >
            <tspan x="0" y="0">E</tspan>
          </text>
          <text
            id="C"
            transform="matrix(0.06, -0.998, 0.998, 0.06, 21.71, 93.33)"
            fill="#1a1a1a"
            font-size="16"
            font-family="CormorantGaramond-Bold, Cormorant Garamond"
            font-weight="700"
          >
            <tspan x="0" y="0">C</tspan>
          </text>
          <text
            id="U-2"
            data-name="U"
            transform="translate(22.33 81.66) rotate(-76.661)"
            fill="#1a1a1a"
            font-size="16"
            font-family="CormorantGaramond-Bold, Cormorant Garamond"
            font-weight="700"
          >
            <tspan x="0" y="0">U</tspan>
          </text>
          <text
            id="T-3"
            data-name="T"
            transform="translate(25.27 69.58) rotate(-67.557)"
            fill="#1a1a1a"
            font-size="16"
            font-family="CormorantGaramond-Bold, Cormorant Garamond"
            font-weight="700"
          >
            <tspan x="0" y="0">T</tspan>
          </text>
          <text
            id="I-3"
            data-name="I"
            transform="matrix(0.482, -0.876, 0.876, 0.482, 29.24, 60.31)"
            fill="#1a1a1a"
            font-size="16"
            font-family="CormorantGaramond-Bold, Cormorant Garamond"
            font-weight="700"
          >
            <tspan x="0" y="0">I</tspan>
          </text>
          <text
            id="O-2"
            data-name="O"
            transform="matrix(0.596, -0.803, 0.803, 0.596, 31.58, 55.48)"
            fill="#1a1a1a"
            font-size="16"
            font-family="CormorantGaramond-Bold, Cormorant Garamond"
            font-weight="700"
          >
            <tspan x="0" y="0">O</tspan>
          </text>
          <text
            id="N"
            transform="matrix(0.736, -0.677, 0.677, 0.736, 39.66, 44.66)"
            fill="#1a1a1a"
            font-size="16"
            font-family="CormorantGaramond-Bold, Cormorant Garamond"
            font-weight="700"
          >
            <tspan x="0" y="0">N</tspan>
          </text>
          <text
            id="_."
            data-name="."
            transform="translate(49.46 36.03) rotate(-35.605)"
            fill="#1a1a1a"
            font-size="16"
            font-family="CormorantGaramond-Bold, Cormorant Garamond"
            font-weight="700"
          >
            <tspan x="0" y="0">.</tspan>
          </text>
        </svg>

        <h2 class="sub_header dark_circle">About</h2>

        <div class="contacts__carousel carousel">
          <div class="slide-track">
            <div class="slide">
              <h2>Nuno</h2>
            </div>
            <div class="slide">
              <h2>Nuno</h2>
            </div>
            <div class="slide">
              <h2>Nuno</h2>
            </div>
            <div class="slide">
              <h2>Nuno</h2>
            </div>
            <div class="slide">
              <h2>Nuno</h2>
            </div>
            <div class="slide">
              <h2>Nuno</h2>
            </div>
          </div>
        </div>

        <div class="contacts__socials flex flex-wrap">
          <a
            href="https://www.linkedin.com/in/nunopereirasous/"
            target="_blank"
          >
            <div><div>Ln</div></div>
          </a>
          <a href="https://www.instagram.com/nunopereirasousa/" target="_blank">
            <div><div>Ig</div></div>
          </a>
          <a href="https://github.com/NunoPereiraSousa" target="_blank">
            <div><div>Gh</div></div>
          </a>
          <a href="mailto:nunopereirasousa00@gmail.com">
            <div><div>nunopereirasousa00@gmail.com</div></div>
          </a>
        </div>
      </section>
    </main>

    <script src="../js/header.js"></script>
  </body>
</html>
