<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Homepage</title>
  </head>
  <body>
    <div class="noise"></div>
    <nav class="header flex flex-ai-c flex-jc-sb">
      <a href="/" class="header__logo">Nuno</a>
      <div class="header__hamburger">
        <!-- <div class="header__hamburger__lines"></div>
        <div class="header__hamburger__lines"></div> -->
      </div>
    </nav>

    <section class="presentation flex flex-ai-c flex-jc-c flex-fd-c">
      <h1>
        <div>
          <div>Web Developer</div>
        </div>
        <div>
          <div>Teacher & Tutor</div>
        </div>
        <div>
          <div>Athlete</div>
        </div>
      </h1>

      <h3>
        <div>
          <div>Based in Portugal</div>
        </div>
      </h3>

      <a href="mailto:nunopereirasousa00@gmail.com">Open to work</a>
    </section>

    <section class="about">
      <h2 class="sub_header">About</h2>

      <h4>
        <div>
          <div>I'm a senior college student with the</div>
        </div>
        <div>
          <div>highest GPA in a web development</div>
        </div>
        <div>
          <div>degree.</div>
        </div>
      </h4>

      <h4>
        <div>
          <div>I'm passionate about learning the</div>
        </div>
        <div>
          <div>latest and greatest technologies</div>
        </div>
        <div>
          <div>whether that's front-end or back-end</div>
        </div>
        <div>
          <div>related.</div>
        </div>
      </h4>

      <h4>
        <div>
          <div>Helping people achieving their dreams</div>
        </div>
        <div>
          <div>is also a passion I have, and something</div>
        </div>
        <div>
          <div>I strive to do 24/7.</div>
        </div>
      </h4>
    </section>

    <section class="services">
      <h2 class="sub_header">Services</h2>

      <div class="class services__grid grid">
        <article class="services__grid__article">
          <h3>Websites</h3>
          <h5>
            <div>
              <div>I build websites and portfolios that</div>
            </div>
            <div>
              <div>create difference and value.</div>
            </div>
          </h5>
        </article>
        <article class="services__grid__article">
          <h3>Teaching and tutoring</h3>
          <h5>
            <div>
              <div>I teach and tutor programming to</div>
            </div>
            <div>
              <div>people all over the world.</div>
            </div>
          </h5>
        </article>
        <article class="services__grid__article">
          <h3>UI Design</h3>
          <h5>
            <div>
              <div>I create unique and user friendly UIs</div>
            </div>
            <div>
              <div>for mobile and desktop.</div>
            </div>
          </h5>
        </article>
        <article class="services__grid__article contact">
          <h3>Let's create difference!</h3>
          <p class="flex flex-jc-fe">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="46.979"
              height="36.212"
              viewBox="0 0 46.979 36.212"
            >
              <g
                id="Group_6"
                data-name="Group 6"
                transform="translate(-1192.854 -846.363)"
              >
                <rect
                  id="Rectangle_3"
                  data-name="Rectangle 3"
                  width="6"
                  height="42.94"
                  transform="translate(1192.854 867.455) rotate(-90)"
                  fill="#555"
                />
                <rect
                  id="Rectangle_4"
                  data-name="Rectangle 4"
                  width="6"
                  height="26"
                  transform="translate(1216.725 850.752) rotate(-47)"
                  fill="#555"
                />
                <rect
                  id="Rectangle_5"
                  data-name="Rectangle 5"
                  width="6"
                  height="26"
                  transform="translate(1235.74 860.455) rotate(47)"
                  fill="#555"
                />
              </g>
            </svg>
          </p>
        </article>
      </div>
    </section>

    <section class="showcase">
      <h2 class="sub_header">About</h2>

      <div class="showcase__grid grid">
        <article class="showcase__grid__article">
          <div
            class="showcase__grid__article__categories flex flex-ai-c flex-jc-sb"
          >
            <h4>Website</h4>
            <h4>PORTIC</h4>
          </div>

          <h5>
            <div>
              <div>Institutional website for oPorto Research,</div>
            </div>
            <div>
              <div>Technology & Innovation Center.</div>
            </div>
          </h5>
        </article>
        <article class="showcase__grid__article">
          <div
            class="showcase__grid__article__categories flex flex-ai-c flex-jc-sb"
          >
            <h4>Website</h4>
            <h4>PORTIC</h4>
          </div>

          <h5>
            <div>
              <div>Institutional website for oPorto Research,</div>
            </div>
            <div>
              <div>Technology & Innovation Center.</div>
            </div>
          </h5>
        </article>
        <article class="showcase__grid__article">
          <div
            class="showcase__grid__article__categories flex flex-ai-c flex-jc-sb"
          >
            <h4>Website</h4>
            <h4>PORTIC</h4>
          </div>

          <h5>
            <div>
              <div>Institutional website for oPorto Research,</div>
            </div>
            <div>
              <div>Technology & Innovation Center.</div>
            </div>
          </h5>
        </article>
        <article class="showcase__grid__article">
          <div
            class="showcase__grid__article__categories flex flex-ai-c flex-jc-sb"
          >
            <h4>Website</h4>
            <h4>PORTIC</h4>
          </div>

          <h5>
            <div>
              <div>Institutional website for oPorto Research,</div>
            </div>
            <div>
              <div>Technology & Innovation Center.</div>
            </div>
          </h5>
        </article>
      </div>
    </section>
  </body>
</html>
