.header {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 2;

  padding: 1rem 1.25rem;

  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.8s;

  &.remove {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }

  &__logo {
    font-family: $headers;
    font-size: $_20px;
    color: $dark;
    font-weight: 700;
    letter-spacing: normal;
  }

  &__hamburger {
    position: relative;

    width: 2.25rem;
    height: 0.625rem;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 1.625rem;
      background-color: $dark;
      transition: all 0.8s;
    }

    &::before {
      top: 0%;
      left: -9px;
      transform-origin: -12px 0;
    }

    &::after {
      bottom: 1%;

      transform-origin: -14px 0;
    }
  }
}

.header_open {
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 1;

  padding: 1rem 1.25rem;

  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: all 0.8s;

  &.open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &__logo {
    font-family: $headers;
    font-size: $_20px;
    color: $dark;
    font-weight: 700;
    letter-spacing: normal;
  }

  &__cross {
    position: relative;

    width: 2.25rem;
    height: 1.875rem;

    &__lines {
      content: "";
      position: absolute;
      left: 50%;
      height: 2px;
      width: 1.4rem;
      background-color: $dark;
      transition: all 0.8s;

      &:nth-child(1) {
        top: 0%;
        transform: rotate(45deg) translateX(-25%);
        transform-origin: -1rem 2px;
      }

      &:nth-child(2) {
        bottom: 1%;
        transform: rotate(-45deg) translateX(-25%);
        transform-origin: -0.8rem 1px;
      }
    }
  }
}
