.wrapper_desktop {
  width: calc(40vw * 7);
  // overflow-x: scroll;~
  flex-wrap: nowrap;
}

.mobile_section {
  font-weight: 500;
  transition: color 0.3s;

  width: 100%;
  height: 90vh;

  align-items: center;
  justify-content: center;
  padding: 10vh 0;

  color: $grey;

  border-bottom: 2px solid $grey;

  h1 {
    font-weight: 100;
    font-size: 30vh;
    line-height: 0.7;
    margin: 0;
    font-family: $body;
  }

  h3,
  h5 {
    font-weight: 400;
    margin: 0;
  }

  h3 {
    margin-top: 6vh;
    font-size: 40px;
    font-family: $headers2;
    text-transform: uppercase;
  }

  h5 {
    font-size: 26px;
    font-family: $headers2;
    opacity: 0.75;
    margin-top: 0.4rem;
  }

  svg {
    margin-top: 6vh;
    height: 80px;
  }
}

section.desktop_section {
  font-weight: 500;
  transition: color 0.3s;

  text-align: center;

  padding: 10vh 0;

  color: $grey;

  border-right: 2px solid $grey;
  width: 40vw;
  height: 100vh;

  h1 {
    font-weight: 100;
    font-size: 42vh;
    line-height: 0.7;
    margin: 0;
    font-family: $body;

    @include breakpoint-up(large) {
      font-size: 50vh;
    }
  }

  h3,
  h5 {
    font-weight: 400;
    margin: 0;
  }

  h3 {
    margin-top: 10vh;
    font-size: 70px;
    font-family: $headers2;
    text-transform: uppercase;
  }

  h5 {
    font-size: 30px;
    font-family: $headers2;
    opacity: 0.75;
  }

  svg {
    margin-top: 10vh;
    height: 130px;
  }

  & > div {
    transition: all 0.4s ease;
    opacity: 0.25;
    transform: translateY(10%);
  }

  &:hover > div {
    transform: translateY(-10%);
    opacity: 1;

    @include breakpoint-up(large) {
      transform: translateY(0%);
    }
  }
}
