.projects_showcase__grid__card {
  font-family: "Cormorant";

  h1 {
    margin: 0 40px 0 0;

    font-weight: 100;
    font-size: $_110px;
    line-height: 0.74;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: $dark;

    @include breakpoint-up(desktop) {
      font-size: 260px;
      margin: 0 100px 0 0;
    }
  }

  a {
    margin: 0;

    line-height: 1;
    font-weight: 600;
    color: $dark;

    font-size: $_24px;

    span {
      margin: 0 0 0 10px;
    }

    @include breakpoint-up(desktop) {
      color: rgba($color: $dark, $alpha: 0.5);
      font-size: $_90px;
      font-weight: 400;
    }
  }
}
