.projects_showcase__grid__card {
  font-family: $headers2;
  transition: all 0.4s;

  @include breakpoint-up(desktop) {
    display: flex;
    align-items: flex-end;

    opacity: 0.65;
  }

  &:hover {
    opacity: 1;
  }

  h1 {
    margin: 0 0 0.3rem 0;

    font-weight: 400;
    font-size: $_14px;
    font-family: $body;
    line-height: 0.74;
    color: $grey;

    transition: all 0.4s;

    @include breakpoint-up(desktop) {
      margin: 0 2rem 1rem 0;

      font-weight: 300;
      font-size: $_18px;
      line-height: normal;
    }
  }

  a {
    margin: 0;

    line-height: 1;
    font-weight: 400;
    color: $grey;

    font-size: $_50px;

    span {
      margin: 0 0 0 10px;

      @include breakpoint-up(desktop) {
        font-weight: 100;
      }
    }

    @include breakpoint-up(desktop) {
      font-size: $_100px;
      font-weight: 400;
    }
  }
}
