.services__grid__article {
  position: relative;

  padding: 3.125rem 1.25rem;

  border-bottom: 1px solid rgba($color: $dark, $alpha: 0.23);
  border-left: 1px solid rgba($color: $dark, $alpha: 0.23);
  border-right: 1px solid rgba($color: $dark, $alpha: 0.23);

  &:first-child {
    border-top: 1px solid rgba($color: $dark, $alpha: 0.23);
  }

  &:nth-child(even) {
    @include breakpoint-up(desktop) {
      border-left: none;
    }
  }

  &:nth-child(2) {
    @include breakpoint-up(desktop) {
      border-top: 1px solid rgba($color: $dark, $alpha: 0.23);
    }
  }

  @include breakpoint-up(tablet) {
    padding: 3.125rem 1.875rem;
  }

  @include breakpoint-up(desktop) {
    padding: 4.375rem 3.125rem 6.25rem;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: $_17px;

    font-weight: 500;

    @include breakpoint-up(tablet) {
      font-size: $_22px;
    }

    @include breakpoint-up(iPadPro) {
      font-size: $_26px;
    }

    @include breakpoint-up(desktop) {
      font-size: $_24px;
      margin-bottom: 1.875rem;
    }
  }

  h5 {
    margin: 0;

    font-weight: 400;
    font-size: $_15px;

    @include breakpoint-up(tablet) {
      font-size: $_18px;
    }

    @include breakpoint-up(iPadPro) {
      font-size: $_22px;
    }

    @include breakpoint-up(desktop) {
      font-size: $_20px;
    }
  }

  p {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 0;

    svg {
      opacity: 0.2;
    }

    @for $i from 1 through 5 {
      svg:nth-child(#{$i}) {
        width: 1.125rem;
        margin-right: 1rem;
        animation: hide-show 3s linear #{$i / 5}s infinite;
      }
    }
  }
}
