.services__grid__article {
  font-family: $headers2;

  padding: 2rem 1.25rem;

  border-bottom: 1px solid rgba($color: $grey, $alpha: 0.2);

  &:first-child {
    border-top: 1px solid rgba($color: $grey, $alpha: 0.2);
  }

  @include breakpoint-up(tablet) {
    padding: 2.5rem 1.25rem;
  }

  @include breakpoint-up(iPadPro) {
    padding: 3rem 1.25rem;
  }

  @include breakpoint-up(desktop) {
    padding: 4rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &:hover h3,
  &:hover h4 {
    opacity: 1;
  }

  h4 {
    font-size: $_14px;
    font-family: $body;
    font-weight: 400;
    line-height: 0.74;
    margin: 0 0 0.3rem 0;
    color: $grey;

    @include breakpoint-up(tablet) {
      font-size: $_18px;
      margin: 0 1rem 0 0;
    }

    @include breakpoint-up(iPadPro) {
      font-size: $_20px;
      margin: 0 1.5rem 0 0;
    }

    @include breakpoint-up(desktop) {
      order: 2;
      margin-left: auto;
      font-size: $_18px;

      opacity: 0.5;
    }
  }

  h3 {
    margin: 0;
    font-size: $_26px;
    color: $grey;

    font-weight: 400;

    @include breakpoint-up(tablet) {
      font-size: $_40px;
    }

    @include breakpoint-up(iPadPro) {
      font-size: $_50px;
    }

    @include breakpoint-up(desktop) {
      font-size: $_60px;
      order: 1;

      opacity: 0.5;
    }
  }

  // h5 {
  //   margin: 0;

  //   font-weight: 400;
  //   font-size: $_15px;

  //   @include breakpoint-up(tablet) {
  //     font-size: $_18px;
  //   }

  //   @include breakpoint-up(iPadPro) {
  //     font-size: $_22px;
  //   }

  //   @include breakpoint-up(desktop) {
  //     font-size: $_20px;
  //   }
  // }

  // p {
  //   width: 100%;
  //   margin-top: 2rem;
  //   margin-bottom: 0;

  //   font-size: $_14px;

  //   span {
  //     margin-right: 0.6rem;
  //   }

  //   a {
  //     color: $dark;
  //     border-bottom: 1px solid rgba($color: $dark, $alpha: 0.5);
  //   }
  // }
}
