.showcase__grid__article {
  border-bottom: 1px solid rgba($color: $dark, $alpha: 0.4);

  transition: all 0.4s;

  @include breakpoint-up(desktop) {
    border-bottom: 1px solid rgba($color: $dark, $alpha: 0.2);
    padding-top: 5rem;

    opacity: 0.5;
  }

  &:hover {
    opacity: 1;
  }

  &__categories {
    h4 {
      font-weight: 400;
      font-size: $_13px;
      font-family: $body;

      margin-top: 0;
      margin-bottom: 2rem;

      padding-top: 2.875rem;

      @include breakpoint-up(tablet) {
        font-size: $_17px;
      }

      @include breakpoint-up(iPadPro) {
        font-size: $_20px;
      }

      @include breakpoint-up(desktop) {
        font-size: $_18px;
        font-weight: 300;

        margin-right: 2rem;
        margin-bottom: 4rem;
        padding-top: 0;
      }

      &:nth-child(even) {
        @include breakpoint-up(desktop) {
          font-style: italic;
          font-size: $_16px;
        }
      }

      &:nth-child(odd) {
        @include breakpoint-up(desktop) {
          color: $red;
        }
      }
    }
  }

  h5 {
    margin-top: 0;
    margin-bottom: 2.875rem;
    font-family: $headers;

    font-weight: 400;
    font-size: $_26px;
    line-height: 1.2;

    @include breakpoint-up(tablet) {
      font-size: $_20px;
      margin-bottom: 3.875rem;
    }

    @include breakpoint-up(iPadPro) {
      font-size: $_22px;
    }

    @include breakpoint-up(desktop) {
      order: 1;
      font-size: $_50px;
      font-weight: 300;
      line-height: 1.2;
      margin-bottom: 6rem;
    }
  }
}
