.showcase__grid__article {
  margin-bottom: 2rem;

  @include breakpoint-up(desktop) {
    margin-bottom: 5vh;
  }

  @include breakpoint-up(large) {
    margin-bottom: 10vh;
  }

  &:nth-child(1) {
    @include breakpoint-up(desktop) {
      margin-left: 15vw;
    }
  }

  &:nth-child(2) {
    @include breakpoint-up(desktop) {
      margin-left: 5vw;
    }
  }

  &:nth-child(3) {
    @include breakpoint-up(desktop) {
      margin-left: 20vw;
    }

    @include breakpoint-up(large) {
      margin-left: 14vw;
    }
  }

  &:nth-child(4) {
    @include breakpoint-up(desktop) {
      margin-left: 40vw;
    }
  }

  &:nth-child(5) {
    @include breakpoint-up(desktop) {
      margin-left: 17vw;
    }
  }

  &:nth-child(6) {
    @include breakpoint-up(desktop) {
      margin-left: 10vw;
    }
  }

  &:nth-child(7) {
    @include breakpoint-up(desktop) {
      margin-left: 35vw;
    }
  }

  &:nth-child(8) {
    @include breakpoint-up(desktop) {
      margin-left: 19vw;
    }
  }

  h4 {
    font-weight: 300;
    font-size: $_16px;
    font-family: $body;
    color: $grey;

    margin: 0;
    margin-right: 0.75rem;

    @include breakpoint-up(tablet) {
      font-size: $_17px;
    }

    @include breakpoint-up(iPadPro) {
      font-size: $_20px;
    }

    @include breakpoint-up(desktop) {
      font-size: $_26px;
      margin-right: 2.75rem;
    }

    @include breakpoint-up(large) {
      font-size: $_30px;
    }

    &:nth-child(even) {
      @include breakpoint-up(desktop) {
        font-style: italic;
        font-size: $_16px;
      }

      @include breakpoint-up(large) {
        font-size: $_20px;
      }
    }
  }

  h5 {
    margin: 0;
    font-family: $headers;
    color: $grey;

    font-weight: 400;
    font-size: $_50px;
    line-height: 1;

    @include breakpoint-up(tablet) {
      font-size: $_20px;
    }

    @include breakpoint-up(iPadPro) {
      font-size: $_22px;
    }

    @include breakpoint-up(desktop) {
      font-size: $_170px;
      font-weight: 300;
      line-height: 0.8;
    }

    @include breakpoint-up(large) {
      line-height: 0.6;
      font-size: 15.625rem;
    }
  }
}
