.showcase__grid__article {
  border-bottom: 1px solid rgba($color: $dark, $alpha: 0.4);

  &__categories {
    h4 {
      font-weight: 400;
      font-size: $_14px;

      margin-top: 0;
      margin-bottom: 2rem;

      @include breakpoint-up(tablet) {
        font-size: $_17px;
      }

      @include breakpoint-up(iPadPro) {
        font-size: $_20px;
      }

      @include breakpoint-up(desktop) {
        font-size: $_16px;
      }
    }
  }

  h5 {
    margin-top: 0;
    margin-bottom: 2.875rem;

    font-weight: 500;
    font-size: $_15px;
    line-height: 1.6;

    @include breakpoint-up(tablet) {
      font-size: $_20px;
    }

    @include breakpoint-up(iPadPro) {
      font-size: $_22px;
    }

    @include breakpoint-up(desktop) {
      font-size: $_18px;
    }
  }
}
