a.socials__card {
  width: 100%;
  text-transform: uppercase;
  font-size: $_40px;
  color: $grey;
  font-family: $headers2;

  &:nth-child(even) {
    text-align: right;
  }

  // border-top: 1px solid $grey;

  transition: all 0.4s;

  @include breakpoint-up(tablet) {
    // padding: 8vh 0;
    font-size: $_80px;
  }

  @include breakpoint-up(iPadPro) {
    font-size: $_100px;
  }

  @include breakpoint-up(desktop) {
    width: fit-content;
    font-size: $_80px;
  }

  @include breakpoint-up(large) {
    font-size: $_100px;
  }

  &:hover.email {
    color: $red;
  }

  &:hover.dribbble {
    color: $dribbble;
  }

  &:hover.linkedIn {
    color: $linkedIn;
  }

  &:hover.github {
    color: $github;
  }

  //   &.email {
  //     background-color: transparent;
  //     color: $dark;
  //   }

  //   &.dribbble {
  //     background-color: $dribbble;
  //   }

  //   &.github {
  //     background-color: $github;
  //   }

  //   &.linkedIn {
  //     background-color: $linkedIn;
  //   }

  // &.instagram {
  //   background: linear-gradient(
  //     -45deg,
  //     rgba(240, 148, 51, 0.5) 0%,
  //     rgba(230, 104, 60, 0.5) 25%,
  //     rgba(220, 39, 67, 0.5) 50%,
  //     rgba(204, 35, 102, 0.5) 75%,
  //     rgba(188, 24, 136, 0.5) 100%
  //   );
  // }
}
