.sub_header {
  font-family: $headers;
  font-size: $_40px;
  letter-spacing: normal;

  margin-top: 0;
  margin-bottom: 3.125rem;

  sup {
    font-size: $_20px;

    @include breakpoint-up(tablet) {
      font-size: $_24px;
    }

    @include breakpoint-up(iPadPro) {
      font-size: $_40px;
    }
  }

  &.dark_circle {
    color: $grey;

    padding-top: calc(3.125rem + 10.6325rem);
  }

  @include breakpoint-up(tablet) {
    font-size: $_50px;
  }

  @include breakpoint-up(iPadPro) {
    font-size: $_70px;
  }
}
