.about__presentation {
  height: 100vh;
  width: 100%;
  position: relative;

  text-align: center;
  font-family: $headers;
  color: $dark;
  letter-spacing: normal;

  @include breakpoint-up(desktop) {
    height: 140vh;
    text-align: left;
    padding: 0 5.5vw 4vh;
  }

  @include breakpoint-up(large) {
    height: 150vh;
  }

  h1 {
    font-size: $_32px;
    line-height: 1.3;
    font-weight: 500;

    text-transform: uppercase;

    margin-top: 0;

    @include breakpoint-up(tablet) {
      font-size: $_60px;
    }

    @include breakpoint-up(desktop) {
      font-size: $_110px;
      line-height: 1;
      margin: 0 auto 0 0;
    }

    @include breakpoint-up(large) {
      font-size: $_140px;
    }
  }

  &__svgs {
    position: absolute;
    right: 10%;
    bottom: -15%;

    @include breakpoint-up(iPadPro) {
      right: 10%;
      bottom: -5%;
    }

    @include breakpoint-up(desktop) {
      right: 10%;
      bottom: -15%;
    }

    @include breakpoint-up(large) {
      right: 10%;
      bottom: -10%;
    }

    svg {
      &#Circle01 {
        width: 6.5rem;
        height: 6.5rem;
        animation: spin 30s linear infinite;

        margin-bottom: 2rem;

        @include breakpoint-up(tablet) {
          width: 10.5rem;
          height: 10.5rem;
        }

        @include breakpoint-up(large) {
          width: 12.5rem;
          height: 12.5rem;
        }
      }

      &#arrow {
        height: 150px;
        opacity: 0.5;

        @include breakpoint-up(desktop) {
          opacity: 1;
        }

        @include breakpoint-up(large) {
          height: 200px;
        }
      }
    }
  }
}

.me,
.hobbies,
.about__contact {
  position: relative;
  padding: 20vh 1.125rem;

  @include breakpoint-up(tablet) {
    padding: 20vh 2rem;
  }

  @include breakpoint-up(iPadPro) {
    padding: 20vh 5.5vw;
  }

  @include breakpoint-up(desktop) {
    padding: calc(24vh + 6.875rem) 5.5vw;
  }
}

.me {
  margin-top: 32vh;

  @include breakpoint-up(desktop) {
    margin-top: 48vh;
  }
}

.hobbies {
  &__grid {
    row-gap: 3rem;

    @include breakpoint-up(desktop) {
      row-gap: 6rem;
    }
  }
}

.about__contact {
  padding-bottom: 6vh;

  &__location {
    h3 {
      font-weight: 400;
      color: $dark;
      font-size: $_16px;

      margin: 0;

      @include breakpoint-up(iPadPro) {
        font-size: $_24px;
      }

      @include breakpoint-up(desktop) {
        font-size: $_20px;
        line-height: 1.8;
      }
    }
  }

  &__socials {
    margin-top: 3rem;

    grid-template-columns: min-content min-content;

    @include breakpoint-up(iPadPro) {
      margin-top: 6rem;
    }

    @include breakpoint-up(desktop) {
      margin-top: 20vh;
    }

    a {
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 2rem;

      font-weight: 400;
      font-size: $_14px;
      color: $dark;

      @include breakpoint-up(iPadPro) {
        font-size: $_24px;
      }

      @include breakpoint-up(desktop) {
        font-size: $_20px;
      }

      &.open_work {
        margin-right: 0;
        margin-top: 1.125rem;
        color: rgba($color: $red, $alpha: 0.9);

        text-decoration: underline;

        @include breakpoint-up(tablet) {
          margin-top: 0;
          margin-left: auto;
        }
      }
    }
  }
}
