.presentation {
  position: relative;

  height: 100vh;
  width: 100%;

  text-align: center;
  font-family: $headers;
  color: $grey;
  letter-spacing: normal;

  h1 {
    font-size: $_34px;
    line-height: 1.2;
    font-weight: 500;

    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 6.25rem;

    transition: all 0.4s;

    @include breakpoint-up(tablet) {
      margin-bottom: 8.25rem;
      font-size: $_60px;
    }

    @include breakpoint-up(desktop) {
      margin-bottom: 0;

      font-size: $_100px;
      line-height: 1.1;

      transition: none;
    }

    @include breakpoint-up(large) {
      font-size: $_120px;
    }

    div > div {
      transform: translateY(100%);
      transition: all 0.4s ease-out;
    }
  }

  h3 {
    margin: 0;
    font-size: $_20px;

    font-weight: 500;
    color: $grey;
    transition: all 0.4s;

    @include breakpoint-up(tablet) {
      font-size: $_38px;
    }

    @include breakpoint-up(desktop) {
      position: absolute;
      left: 5.5vw;
      bottom: 10%;
      font-size: $_20px;

      transition: none;
    }
  }

  a {
    margin-top: 2rem;

    text-decoration: underline $grey;
    color: $grey;
    transition: all 0.4s;

    @include breakpoint-up(tablet) {
      margin-top: 4rem;
      font-size: $_24px;
    }

    @include breakpoint-up(desktop) {
      padding: 2rem;
      position: absolute;
      right: calc(5.5vw - 2rem);
      bottom: calc(10% - 2rem);
      font-size: $_18px;

      transition: none;
    }

    div > div {
      transform: translateY(100%);
      transition: all 0.4s ease-out;
    }
  }

  &__based {
    div > div {
      transform: translateY(100%);
      transition: all 0.4s ease-out;
    }
  }

  &__svgs {
    position: absolute;
    right: 10%;
    bottom: -25%;

    @include breakpoint-up(iPadPro) {
      right: 10%;
      bottom: -5%;
    }

    @include breakpoint-up(desktop) {
      right: 10%;
      bottom: -15%;
    }

    @include breakpoint-up(large) {
      right: 10%;
      bottom: -10%;
    }

    svg {
      &#Circle01 {
        width: 6.5rem;
        height: 6.5rem;
        animation: spin 30s linear infinite;

        margin-bottom: 2rem;

        @include breakpoint-up(tablet) {
          width: 10.5rem;
          height: 10.5rem;
        }

        @include breakpoint-up(large) {
          width: 12.5rem;
          height: 12.5rem;
        }
      }

      &#arrow {
        height: 150px;
        opacity: 0.5;

        @include breakpoint-up(desktop) {
          opacity: 1;
        }

        @include breakpoint-up(large) {
          height: 200px;
        }
      }
    }
  }
}

.about,
.services,
.showcase,
.carousels,
.contacts {
  position: relative;
  padding: 20vh 1.125rem;

  @include breakpoint-up(tablet) {
    padding: 20vh 2rem;
  }

  @include breakpoint-up(iPadPro) {
    padding: 16vh 5.5vw;
  }

  @include breakpoint-up(desktop) {
    padding: calc(24vh + 6.875rem) 5.5vw;
  }
}

.about {
  width: 100%;
  padding-top: 0;

  @include breakpoint-up(desktop) {
    padding: 24vh 5.5vw calc(24vh + 6.875rem);
  }

  & * {
    div > div {
      transform: translateY(100%);
      transition: all 0.4s ease-out;
    }
  }

  h4 {
    font-weight: 400;
    font-family: $headers;
    line-height: 1.2;
    color: $grey;

    margin-top: 0;

    &:nth-child(1) {
      font-size: $_30px;

      @include breakpoint-up(tablet) {
        font-size: $_40px;
      }

      @include breakpoint-up(iPadPro) {
        font-size: $_60px;
        line-height: 1.3;
      }

      @include breakpoint-up(desktop) {
        font-size: $_80px;
        line-height: 1.1;
      }

      @include breakpoint-up(large) {
        font-size: $_90px;
        line-height: 1.1;
      }
    }

    &:nth-child(2) {
      font-size: $_24px;
      margin: 10vh 0 10vh 10vw;
      line-height: 1.3;

      @include breakpoint-up(tablet) {
        margin: 10vh 0 10vh 20vw;
        font-size: $_30px;
      }

      @include breakpoint-up(iPadPro) {
        margin: 10vh 0 10vh 20vw;
        font-size: $_40px;
        line-height: 1.3;
      }

      @include breakpoint-up(desktop) {
        margin: 20vh 0 20vh 30vw;
        font-size: $_60px;
        line-height: 1.2;
      }

      @include breakpoint-up(large) {
        font-size: $_46px;
      }
    }

    &:nth-child(3) {
      font-size: $_20px;
      margin: 10vh 0 10vh 4vw;
      line-height: 1.4;

      @include breakpoint-up(tablet) {
        margin: 10vh 0 10vh 4vw;
        font-size: $_26px;
        line-height: 1.5;
      }

      @include breakpoint-up(iPadPro) {
        margin: 10vh 0 10vh 4vw;
        font-size: $_32px;
        line-height: 1.4;
      }

      @include breakpoint-up(desktop) {
        margin: 20vh 10vw 20vh 20vw;
        font-size: $_50px;
        line-height: 1.2;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.showcase {
  @include breakpoint-up(desktop) {
    padding-bottom: calc(24vh + 6.875rem);
  }
}

.carousels {
  position: relative;

  padding-bottom: calc(16vh + 6.875rem);

  @include breakpoint-up(desktop) {
    padding-bottom: calc(38vh + 6.875rem) !important;
  }

  @include breakpoint-up(large) {
    padding-bottom: calc(44vh + 6.875rem) !important;
  }
}

.contacts {
  padding-top: 8vh;
  padding-bottom: 8vh;
  background-color: $dark;

  @include breakpoint-up(desktop) {
    padding-top: 0;
    padding-bottom: 10vh;
    background-color: transparent;
  }

  &__location {
    h3 {
      font-weight: 400;
      color: $grey;
      font-size: $_14px;
      text-transform: uppercase;

      margin: 0;

      @include breakpoint-up(iPadPro) {
        font-size: $_24px;
      }

      @include breakpoint-up(desktop) {
        font-size: $_14px;
        line-height: 1.8;
      }
    }
  }

  &__grid {
    @include breakpoint-up(desktop) {
      grid-template-columns: 1fr 1fr;

      margin-top: 20vh;
    }
  }

  &__socials {
    margin-top: 5rem;

    grid-template-columns: min-content min-content;

    @include breakpoint-up(iPadPro) {
      margin-top: 6rem;
    }

    @include breakpoint-up(desktop) {
      margin-top: 0;

      // grid-template-columns: 1fr;
      display: flex;
      justify-content: center;
      text-align: center;
    }

    a {
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 2rem;

      font-weight: 400;
      color: $grey;
      font-size: $_14px;
      line-height: 1.6;

      @include breakpoint-up(iPadPro) {
        font-size: $_24px;
      }

      @include breakpoint-up(desktop) {
        font-size: $_28px;
        margin-right: 3rem;
        font-family: $headers2;
        color: $dark;
      }
    }
  }

  &__email {
    margin-top: 2.5rem;
    width: fit-content;

    @include breakpoint-up(desktop) {
      margin-top: 0;
      margin-left: auto;
    }

    a {
      margin-right: 0;
      color: rgba($color: $red, $alpha: 0.9);
      font-size: $_14px;

      text-decoration: underline;

      @include breakpoint-up(desktop) {
        font-size: $_28px;
        font-family: $headers2;
      }

      span {
        @include breakpoint-up(desktop) {
          font-size: $_20px;
          font-family: $body;
        }
      }
    }
  }
}

.socials {
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin-bottom: 5vh;

  @include breakpoint-up(desktop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

#bigName {
  fill: $grey;
}
