.presentation {
  position: relative;

  height: 100vh;
  width: 100%;

  text-align: center;
  font-family: $headers;
  color: $dark;
  letter-spacing: normal;

  h1 {
    font-size: $_32px;
    line-height: 1.3;
    font-weight: 500;

    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 6.25rem;

    @include breakpoint-up(tablet) {
      margin-bottom: 8.25rem;
      font-size: $_60px;
    }

    @include breakpoint-up(desktop) {
      margin-bottom: 0;

      font-size: $_110px;
      line-height: 1.1;
    }
  }

  h3 {
    margin: 0;
    font-size: $_20px;

    font-weight: 500;

    @include breakpoint-up(tablet) {
      font-size: $_38px;
    }

    @include breakpoint-up(desktop) {
      position: absolute;
      left: 5.5vw;
      bottom: 10%;
      font-size: $_20px;
    }
  }

  a {
    margin-top: 2rem;

    text-decoration: underline;
    color: $dark;

    @include breakpoint-up(tablet) {
      margin-top: 4rem;
      font-size: $_24px;
    }

    @include breakpoint-up(desktop) {
      position: absolute;
      right: 5.5vw;
      bottom: 10%;
      font-size: $_20px;
    }
  }
}

.about,
.services,
.showcase,
.contacts {
  padding: 0 1.125rem 16vh;

  @include breakpoint-up(tablet) {
    padding: 0 2rem 16vh;
  }

  @include breakpoint-up(desktop) {
    padding: 24vh 5.5vw 4vh;
  }
}

.about {
  width: 100%;

  h4 {
    font-weight: 400;
    font-size: $_15px;

    margin-top: 0;
    margin-bottom: 2.875rem;

    &:nth-child(3) {
      text-align: right;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include breakpoint-up(tablet) {
      font-size: $_18px;
    }

    @include breakpoint-up(iPadPro) {
      font-size: $_24px;
    }

    @include breakpoint-up(desktop) {
      font-size: $_20px;
    }
  }
}

.services {
  &__grid {
    @include breakpoint-up(desktop) {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.showcase {
  padding-bottom: calc(16vh + (10.625rem / 2));

  @include breakpoint-up(desktop) {
    padding-bottom: calc(28vh + (10.625rem / 2));
  }

  &__grid {
    row-gap: 2.875rem;

    @include breakpoint-up(iPadPro) {
      row-gap: 3.875rem;
    }
  }
}

.contacts {
  position: relative;
  background-color: $dark;

  padding-bottom: 6vh;

  @include breakpoint-up(desktop) {
    padding-top: 6vh;
  }

  svg {
    position: absolute;
    top: calc(-10.625rem / 2);
    height: 10.625rem;
    width: 10.625rem;

    animation: spin 30s linear infinite;

    @include breakpoint-up(iPadPro) {
      top: calc(-14.625rem / 2);
      height: 14.625rem;
      width: 14.625rem;
    }

    @include breakpoint-up(desktop) {
      top: calc(-10.625rem / 2);
      height: 10.625rem;
      width: 10.625rem;
    }
  }

  &__carousel {
    overflow: hidden;
    width: fit-content;
    color: $grey;

    .slide-track {
      animation: phoneCarousel 4s linear infinite;
      display: flex;
      width: calc(180px * 6);

      .slide {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 180px;

        h2 {
          color: rgba($color: $grey, $alpha: 0.4);
          font-size: $_30px;
          font-weight: 500;
          margin: 0;
        }
      }
    }
  }

  &__socials {
    margin-top: 3rem;

    @include breakpoint-up(iPadPro) {
      margin-top: 6rem;
    }

    a {
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 2rem;

      font-weight: 400;
      color: $grey;

      @include breakpoint-up(iPadPro) {
        font-size: $_24px;
      }

      &:last-child {
        margin-right: 0;
        margin-top: 1.125rem;

        text-decoration: underline;

        @include breakpoint-up(tablet) {
          margin-top: 0;
          margin-left: auto;
        }
      }
    }
  }
}
