.projects__presentation {
  height: 100vh;
  width: 100%;
  position: relative;

  text-align: center;
  font-family: $headers;
  color: $dark;
  letter-spacing: normal;

  @include breakpoint-up(desktop) {
    height: 120vh;
    text-align: left;
    padding: 0 5.5vw 4vh;
  }

  h1 {
    font-size: $_40px;
    line-height: 1.2;
    font-weight: 500;

    text-transform: uppercase;

    margin-top: 0;

    @include breakpoint-up(tablet) {
      font-size: $_60px;
    }

    @include breakpoint-up(desktop) {
      font-size: $_110px;
      line-height: 1;
      margin: 0 auto 0 0;
    }

    @include breakpoint-up(large) {
      font-size: $_140px;
      line-height: 1;
    }
  }

  &__svgs {
    position: absolute;
    right: 10%;
    bottom: -15%;

    @include breakpoint-up(iPadPro) {
      right: 10%;
      bottom: -5%;
    }

    @include breakpoint-up(desktop) {
      right: 10%;
      bottom: -15%;
    }

    @include breakpoint-up(large) {
      right: 10%;
      bottom: -10%;
    }

    svg {
      &#Circle01 {
        width: 7.5rem;
        height: 7.5rem;
        animation: spin 30s linear infinite;

        margin-bottom: 2rem;

        @include breakpoint-up(tablet) {
          width: 10.5rem;
          height: 10.5rem;
        }

        @include breakpoint-up(large) {
          width: 12.5rem;
          height: 12.5rem;
        }
      }

      &#arrow {
        height: 150px;
        opacity: 0.5;

        @include breakpoint-up(desktop) {
          opacity: 1;
        }

        @include breakpoint-up(large) {
          height: 200px;
        }
      }
    }
  }
}

.stack,
.projects_showcase {
  position: relative;
  padding: 20vh 1.125rem;

  @include breakpoint-up(tablet) {
    padding: 20vh 2rem;
  }

  @include breakpoint-up(iPadPro) {
    padding: 20vh 5.5vw;
  }

  @include breakpoint-up(desktop) {
    padding: calc(24vh + 6.875rem) 5.5vw;
  }
}

.stack {
  margin-top: 32vh;

  @include breakpoint-up(desktop) {
    margin-top: 48vh;
  }

  &__grid {
    grid-template-columns: 1fr 1fr 1fr;

    row-gap: 2.5rem;

    justify-items: center;
    align-items: center;

    @include breakpoint-up(tablet) {
      row-gap: 3.5rem;
    }

    @include breakpoint-up(desktop) {
      grid-template-columns: repeat(4, 1fr);
      row-gap: 5rem;
    }

    svg {
      height: 50px;

      filter: grayscale(100%);
      transition: all 0.4s;

      @include breakpoint-up(tablet) {
        height: 80px;
      }

      @include breakpoint-up(desktop) {
        height: 90px;
      }

      &:hover {
        filter: grayscale(0%);
      }
    }
  }

  &__carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    color: $grey;

    &::before,
    &::after {
      content: "";
      height: 100%;
      position: absolute;
      width: 1.125rem;
      z-index: 2;
    }

    &::after {
      right: 1.125rem;
      top: 0;
    }

    &::before {
      left: 0;
      top: 0;
    }

    .slide-track {
      animation: phoneCarousel 8s linear infinite;
      display: flex;
      width: calc(300px * 7);

      @include breakpoint-up(desktop) {
        width: calc(500px * 7);
        animation: desktopCarousel 8s linear infinite;

        padding-bottom: 2rem;
      }

      &.reverse {
        animation: phoneCarouselReverse 8s linear infinite;

        @include breakpoint-up(desktop) {
          animation: desktopCarouselReverse 8s linear infinite;
          padding-top: 2rem;
          padding-bottom: 0;
        }

        h2 {
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke-width: 0.6px;
          -webkit-text-stroke-color: $dark;
        }
      }

      .slide {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 300px;

        @include breakpoint-up(desktop) {
          width: 500px;
        }

        h2 {
          color: $dark;
          font-size: $_26px;
          font-weight: 500;
          margin: 0;

          @include breakpoint-up(desktop) {
            font-size: $_34px;
          }
        }
      }
    }
  }

  hr {
    background-color: rgba($color: $dark, $alpha: 0.25);
    border: none;
    height: 1px;
    width: 100%;
  }
}

.projects_showcase {
  &__title {
    font-size: 180px;
    font-family: $headers2;
    font-weight: 100;
    line-height: 1;

    margin: 0;
    margin-bottom: 5.625rem;

    &:last-of-type {
      margin-top: 5.625rem;
    }

    @include breakpoint-up(desktop) {
      font-size: 30vw;
    }
  }

  &__grid {
    row-gap: 2rem;

    @include breakpoint-up(tablet) {
      grid-template-columns: 1fr 1fr;
    }

    @include breakpoint-up(desktop) {
      grid-template-columns: 1fr;
      row-gap: 4rem;
    }
  }
}
