@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes hide-show {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes phoneCarousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-180px * 3));
  }
}
