@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes left-right {
  0%,
  100% {
    transform: translateX(-35%);
  }
  50% {
    transform: translateX(0%);
  }
}

@keyframes phoneCarousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-180px * 3));
  }
}
