body.dark {
  .header {
    &__logo,
    p {
      color: $grey;
    }

    &__hamburger {
      &::before,
      &::after {
        background-color: $grey;
      }
    }

    &__desktop_menu {
      a {
        color: $grey;
      }
    }
  }

  .header__carousel {
    color: $grey;
  }

  .services__grid__article {
    color: $grey;

    border-bottom: 1px solid rgba($color: $grey, $alpha: 0.2);

    &:first-child {
      border-top: 1px solid rgba($color: $grey, $alpha: 0.2);
    }
  }

  .showcase__grid__article {
    color: $grey;

    border-bottom: 1px solid rgba($color: $grey, $alpha: 0.4);

    @include breakpoint-up(desktop) {
      border-bottom: 1px solid rgba($color: $grey, $alpha: 0.2);
    }

    &:first-child {
      border-top: 1px solid rgba($color: $grey, $alpha: 0.4);

      @include breakpoint-up(desktop) {
        border-top: 1px solid rgba($color: $grey, $alpha: 0.2);
      }
    }
  }

  .hobbies__grid__card {
    p {
      color: $grey;

      &:first-child {
        text-decoration: underline rgba($color: $grey, $alpha: 0.7);

        @include breakpoint-up(desktop) {
          text-decoration: underline rgba($color: $grey, $alpha: 0.5);
        }
      }
    }
  }

  .contacts {
    background-color: $grey;

    h3,
    a {
      color: $dark;
    }

    &__email {
      a {
        color: rgba($color: $red, $alpha: 0.9);
      }
    }
  }

  .presentation {
    h1,
    h3,
    a {
      color: $grey;
    }

    .open_work {
      text-decoration: underline $grey;
    }
  }

  .about {
    h4 {
      color: $grey;
    }
  }

  .presentation__svgs {
    svg {
      &#Circle01 {
        path {
          fill: $dark !important;
        }

        text {
          fill: $grey !important;
        }
      }
      &#arrow {
        path {
          stroke: $grey !important;
        }
      }
    }
  }

  /* ABOUT PAGE */

  .about__presentation {
    color: $grey;

    svg {
      &#Circle01 {
        path {
          fill: $dark !important;
        }

        text {
          fill: $grey !important;
        }
      }
      &#arrow {
        path {
          stroke: $grey !important;
        }
      }
    }
  }

  .about__contact {
    h3,
    h2,
    a {
      color: $grey;
    }

    a.open_work {
      color: $red;
    }
  }

  /* PROJECTS PAGE */

  .projects__presentation {
    color: $grey;

    svg {
      &#Circle01 {
        circle {
          fill: $dark !important;
        }

        text {
          fill: $grey !important;
        }
      }
      &#arrow {
        path {
          stroke: $grey !important;
        }
      }
    }
  }

  .projects_showcase__title {
    color: $grey;
  }

  .projects_showcase__grid__card {
    h1,
    a {
      color: $grey;
    }
  }
}
